/*
* www.KNACSS.com V2.7b (2013-08) @author: Raphael Goetter, Alsacreations
* Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/ 
*/

/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
    font-size: 62.5%;
}
body {
    background-color: #fff;
    color: #000;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    font-size: 1em; /* equiv 14px */
    line-height: 1.5;
    margin: .75em 0 0;
}
h1, .h1-like {
    font-size: 2.286em; /* equiv 32px */
    line-height: 1.6154em;
    margin: .8077em 0 0 0;
}
h2, .h2-like {
    font-size: 2em; /* equiv 28px */
    line-height: 1.75em;
    margin: .875em 0 0 0;
}
h3, .h3-like {
    font-size: 1.714em; /* equiv 24px */
    line-height: 1.909em;
    margin: .9545em 0 0 0;
}
h4, .h4-like {
    font-size: 1.4286em; /* equiv 20px */
    line-height: 1.05em;
    margin: 1.05em 0 0 0;
}
h5, .h5-like {
    font-size: 1.2857em; /* equiv 18px */
    line-height: 1.1667em;
    margin: 1.1667em 0 0 0;
}
h6, .h6-like {
    font-size: 1.1429em; /* equiv 16px */
    line-height: 1.3125em;
    margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
    font-size: .7143em; /* equiv 10px */
}
.small {
    font-size: .8571em; /* equiv 12px */
}
.big {
    font-size: 1.1429em; /* equiv 16px */
}
.bigger {
    font-size: 1.2857em; /* equiv 18px */
}
.biggest {
    font-size: 1.4286em; /* equiv 20px */
}

/* soft reset */
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
}
ul.unstyled {
    list-style: none;
}
code, 
pre,
samp,
kbd {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
    line-height: 1em;
}
code, kbd, mark {
    border-radius: 2px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
i,
b {
    font-style: normal;
    font-weight: normal;
}
kbd {
    padding: 0 2px;
    border: 1px solid #999;
}
code {
    padding: 2px 4px;
    background: rgba(0,0,0,.04);
    color: #b11; 
}
mark {
    padding:2px 4px;
    background: #ff0;
}
sup,
sub {
    vertical-align: 0;
    position: relative;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
/* pictures */
img {
    height: auto;
    vertical-align: middle;
}
/* Gmap3 max-width bug fix on images */
.gmnoscreen img,
.gmnoprint img {max-width: none !important;}

a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
    position: absolute;
}
.skip-links a {
    position: absolute;
    left: -7000px;
    padding: 0.5em;
    background: #000;
    color:#fff;
    text-decoration: none;
}
.skip-links a:focus {
    position: static;
}

/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* float layout */
/* module, gains superpower "BFC" Block Formating Context */
.mod { 
    overflow: hidden;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
    clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
    content: "";
    display: table;
    clear: both;
}

/* table layout */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > *,
.col {
    display: table-cell;
    vertical-align: top;
}

/* inline-block */
.inbl {
    display: inline-block;
    vertical-align: top;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.left {
    float: left;
}
img.left {
    margin-right: 1em;
}

/* right elements */
.right {
    float: right;
}
img.right {
    margin-left: 1em;
}

img.left, img.right {
    margin-bottom: 5px;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* blocks widths (percentages and pixels) */
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }

.w50p   { width: 50px; }
.w100p  { width: 100px; }
.w150p  { width: 150px; }
.w200p  { width: 200px; }
.w300p  { width: 300px; }
.w400p  { width: 400px; }
.w500p  { width: 500px; }
.w600p  { width: 600px; }
.w700p  { width: 700px; }
.w800p  { width: 800px; }
.w960p  { width: 960px; }
.mw960p { max-width: 960px; }
.w1140p  { width: 1140px; }
.mw1140p { max-width: 1140px; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n,0 = small(10px),medium(20px),large(30px), zero or none(0)
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: 10px; }
.ma2, .mam { margin: 20px; }
.ma3, .mal { margin: 30px; }
.pa1, .pas { padding: 10px; }
.pa2, .pam { padding: 20px; }
.pa3, .pal { padding: 30px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }

/* hiding content */
.visually-hidden {
    position: absolute;
    left: -7000px;
    overflow: hidden;
}
[dir=rtl] .visually-hidden {
    left: auto;
    right: -7000px;
}

.desktop-hidden { display: none; } /* hidden on desktop */

/* ----------------------------- */
/* ==iefix                       */
/* ----------------------------- */

/* hasLayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
    zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs a width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
    display: inline;
    zoom: 1;
}
.ie8 img {
    width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
    behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print                       */
/* ----------------------------- */

/* quick print reset */
@media print {
    p,
    blockquote {
        orphans: 2;
        widows: 2;
    }
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    caption {
        page-break-after: avoid;
    }
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
}

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can link them with an @import or, better for webperf, just paste them here */

/* @import url(my-styles.css); */


@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-200.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fcf9f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  color: #363a46;
  font-family: styled;
  font-size: 18px;
}
a {
  color: #15a7c7;
  font-weight: bold;
}
a {
  color: textcolor;
  text-decoration: none;
}
a:hover {
  color: #ff850a;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-box-shadow: inset 0px -1px 2px #bbb;
  box-shadow: inset 0px -1px 2px #bbb;
}
.tooltip-inner a:hover {
  color: textcolor;
  text-decoration: none;
}
.ma2 {
  margin: 20px;
}
.ma2 {
  padding: 20px;
}
.mt6 {
  margin-top: 60px;
}
.spacer,
.spacer {
  clear: both;
}
.close {
  float: right;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.help-text {
  font-size: 26px;
  text-align: center;
  color: #000;
}
.help-text.small {
  font-size: 14px;
}
.help-text.small img {
  width: 24px;
}
button.btn {
  background: #15a7c7;
  border: 1px #11869f;
  margin: 0;
  font-family: main;
  color: #fff;
  padding: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background: #ff850a;
  border-color: 1px solid #ff850a;
  color: whit;
}
.btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #ef7800;
  color: #fff;
}
.pressed {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: buttoncolor -10%;
}
.pressed:hover {
  background: lightorange;
  border: 1px solid lightorange;
}
.btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: buttoncolor -10%;
}
.btn-green {
  background: #008000;
  border: 1px solid #060;
  color: textcolor;
}
.btn-green:active,
.btn-green:focus,
.btn-green:hover {
  background: #008000;
  color: textcolor;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.05);
  cursor: default;
}
.btn-orange {
  background: #ff850a;
  border: 1px solid #ff850a;
  color: textcolor;
}
.btn-green:active,
.btn-orange:hover {
  background: #ff9123;
  color: textcolor;
}
.btn-red {
  background: #f00;
  border: 1px solid #f00;
  color: textcolor;
}
.btn-green:active,
.btn-red:hover {
  background: #f33;
  color: textcolor;
}
.alert-error {
  shadow: 0 0 6px rgba(100,60,60,0.85) inset;
  background: rgba(242,222,222,0.8);
}
.alert-success {
  shadow: 0 0 6px rgba(60,100,60,0.85) inset;
  background: rgba(223,240,216,0.8);
}
.progress {
  margin: 20px 0;
  height: 10px;
  background: bgcolor -30%;
}
.progress .bar {
  background: #e3e6e6;
  -webkit-box-shadow: 0 0 6px #e3e6e6;
  box-shadow: 0 0 6px #e3e6e6;
}
.home-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: bgcolor;
  overflow: hidden;
}
.well {
  background: transparent;
  border: 0;
  margin: 2%;
  color: textcolor;
  text-align: center;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.icon-help {
  background-image: url("../img/help.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.btn:focus {
  outline: none;
}
.menu-btn {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
.menu-btn span {
  font-size: 24px;
  display: none;
  color: #363a46;
}
.menu-btn img {
  width: 32px;
  margin: 10px;
  cursor: pointer;
}
.menu-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-btn:hover a {
  color: #fff;
  font-weight: normal;
  background: #15a7c7;
  padding: 20px 0 20px 20px;
}
.menu-btn:hover span {
  display: inline;
}
.navbar {
  background: #fcfaf6;
  z-index: 15;
}
.navbar img {
  width: 24px;
  margin-left: 5px;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
.navbar a:hover img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/* content */
#content {
  padding: 0;
  height: 100%;
  overflow: auto;
}
#home-content {
  padding-top: 40px;
}
/** Notifications */
#notifications-container {
  position: relative;
}
#notifications-container a {
  width: 20px;
}
#notifications-container .badge {
  padding: 1px 2px 1px 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}
#notifications-container .badge:empty {
  display: none;
}
#notifications-container #clickcatcher {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.001;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  top: 40px;
  left: 0px;
  z-index: 40;
}
#notifications-container #notifications {
  display: none;
  position: absolute;
  left: 0px;
  width: 420px;
  z-index: 50;
  margin: 0;
  list-style-type: none;
  padding: 5px;
  text-align: left;
  background: #8f9b9b;
  -webkit-box-shadow: 1px 1px 3px shadowcolor;
  box-shadow: 1px 1px 3px shadowcolor;
}
#notifications-container #notifications #dismiss-all {
  text-align: center;
  background-color: #a5afaf;
  margin-top: 5px;
  padding-top: 5px;
  clear: both;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
#notifications-container #notifications #dismiss-all:hover {
  background-color: lightorange -20%;
  color: #000;
}
#notifications-container #notifications .notification a.dismiss {
  float: right;
  width: 20px;
  line-height: 20px;
  padding: 5px;
}
#notifications-container #notifications .notification a.doaction {
  width: 360px;
  float: left;
  line-height: 20px;
  padding: 5px;
}
#notifications-container #notifications .notification.new {
  background: #a5afaf;
}
#notifications-container #notifications .notification.transition {
  background-color: #8f9b9b;
  -webkit-transition: background-color 3s;
  -moz-transition: background-color 3s;
  -o-transition: background-color 3s;
  -ms-transition: background-color 3s;
  transition: background-color 3s;
}
/** Applications */
#app-list {
  text-align: center;
  margin: 40px 0;
}
.application {
  width: 130px;
  margin: 6px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 0;
  cursor: pointer;
}
.application img {
  width: 100px;
}
.application img.stopped {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
.application p {
  margin: 0;
  font-family: main;
  color: textcolor;
  text-shadow: 1px 1px 1px shadowcolor;
}
.application .app-title {
  font-family: styled;
  text-transform: uppercase;
  font-size: 14px;
  color: #363a46;
  text-decoration: none;
}
.application .app-title:hover {
  color: #ff850a;
}
.application .state-label {
  font-size: 18px;
  font-weight: normal;
  color: #f00;
}
.application a:hover {
  text-decoration: none;
}
.application .btn {
  font-size: 12px;
}
.application .application-outer {
  display: none;
  padding-top: 20px;
}
.application .application-outer p {
  margin: 0;
  padding: 0;
}
.application .application-outer label {
  margin: 0px;
}
.application .application-outer .app-stoppable {
  margin: 0px;
}
.application:hover {
  background: #f1e2cf;
}
.application:hover .app-title {
  color: #854300;
}
.application:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.application.broken a {
  cursor: default;
}
.application.broken .broken-notifier {
  display: block;
}
.app-tools {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  color: text-color;
  text-align: center;
  margin-bottom: 20px;
}
#no-app-message {
  margin-top: 30px;
  padding: 1em;
}
#no-app-message a {
  border-bottom: 0;
}
.install-info {
  width: 40%;
  text-align: center;
}
.control-group,
#add-app-form,
#account-form {
  border: 0;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}
.control-group select,
#add-app-form select,
#account-form select,
.control-group input,
#add-app-form input,
#account-form input {
  height: 1.1em;
  padding: 0.2em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 0;
  background-color: textcolor;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.45) inset;
  box-shadow: 0 2px 2px rgba(0,0,0,0.45) inset;
}
.control-group select,
#add-app-form select,
#account-form select {
  height: 35px;
}
.control-group input:focus,
#add-app-form input:focus,
#account-form input:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 17px rgba(82,168,236,0.9);
  box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 17px rgba(82,168,236,0.9);
  background: #e2f8ff;
}
.control-group .btn,
#add-app-form .btn,
#account-form .btn {
  margin-top: 0.2em;
}
.control-group p,
#add-app-form p,
#account-form p {
  margin: 20px 0 10px 0;
}
.control-group .field,
#add-app-form .field,
#account-form .field {
  margin: 10px auto 20px auto;
  width: 40%;
}
.control-group .icon-white,
#add-app-form .icon-white,
#account-form .icon-white {
  background-image: url("../img/glyphicons-halflings.png");
}
.control-group .alert,
#add-app-form .alert,
#account-form .alert {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
#add-app-form {
  padding: 3%;
}
#add-app-form input {
  font-size: 1em;
}
#account-form select,
.control-group select,
#account-form input,
.control-group input {
  font-size: 1em;
}
#account-info,
#account-error {
  display: none;
  margin-bottom: 0;
}
#home-view {
  overflow: hidden;
  background: bgcolor;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#account-view #change-password-button {
  margin-top: 50px;
}
#change-password-form {
  margin-top: 50px;
}
.loading-indicator {
  border: 0;
  background: transparent;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  color: textcolor;
}
.app-introduction {
  margin-top: 60px;
  margin-bottom: 20px;
}
#market-view {
  padding: 20px;
}
#your-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 32.33%;
  height: 140px;
  margin-right: 1%;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-top: 1%;
}
#your-app p {
  margin-bottom: 0;
}
#your-app input {
  margin-top: 10px;
}
#your-app .text {
  padding: 20px;
}
#your-app #app-git-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  max-width: 500px;
  margin-right: 20px;
}
#your-app .error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin-right: 20px;
  font-size: 0.8em;
}
#app-market-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
#app-market-list .app-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 140px;
  width: 140px;
  padding: 20px 20px 10px 20px;
  margin-right: 10px;
}
#app-market-list .app-install-button button,
#app-market-list .app-install-button div {
  display: inline;
}
#app-market-list .app-install-button .app-text {
  padding: 10px;
  word-wrap: normal;
  overflow-x: hidden;
}
#app-market-list .app-install-button .app-install {
  border: 0;
  outline: 0;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.8em;
  padding: 4px 8px;
  float: right;
}
#app-market-list .app-install-button .app-install-text {
  display: none;
  float: right;
  font-size: 0.8em;
  padding: 4px;
  padding-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 20px;
}
#market-view #no-app-message,
.cozy-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 32.33%;
  height: 140px;
  margin-right: 1%;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-top: 1%;
}
#market-view #no-app-message h3,
.cozy-app h3 {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 30px;
}
#market-view #no-app-message .comment,
.cozy-app .comment {
  font-size: 14px;
}
#market-view #no-app-message .btn,
.cozy-app .btn {
  float: right;
  width: 15%;
  height: 70px;
  margin: 10px 0px 10px 10px;
}
.navbar .nav > li > a > img {
  -webkit-box-shadow: 1px 1px 3px #555;
  box-shadow: 1px 1px 3px #555;
  text-shadow: 1px 1px 3px #555;
}
.modal {
  margin-top: -200px;
}
.modal-header {
  color: #808080;
  font-weight: bold;
  background-color: #d3d3d3;
}
.modal-body {
  color: #808080;
  font-family: main;
  text-align: left;
}
.modal-footer {
  background-color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-footer .btn {
  text-shadow: none;
  border: 0;
  color: #808080;
  background: buttoncolor;
  border: 1px solid buttoncolor -20%;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.05);
  margin: 0;
  font-family: styled;
}
.modal-footer .btn:hover {
  background: #efd6b8;
  border-color: 1px solid #efd6b8;
}
.modal-footer .btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: buttoncolor -10%;
}
.modal-footer .btn-primary {
  color: #808080;
  background: #f5e6d4;
}
.application .permissionsLine p {
  text-shadow: none;
  color: #999;
}
@media (max-width: 1200px) {
  #header-title {
    display: none;
  }
  #buttons {
    width: 100%;
  }
  #market-view #no-app-message,
  #market-view .cozy-app,
  #market-view #your-app {
    width: 49%;
  }
}
@media (max-width: 850px) {
  #header span,
  #market-view span {
    display: none;
  }
  #header #notificaction-counter,
  #market-view #notificaction-counter {
    display: inline;
  }
}
@media (max-width: 800px) {
  .home-body {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header-title a {
    padding-left: 0;
    padding-right: 0;
  }
  #account-form {
    text-align: left;
  }
  #account-form p {
    margin: 15px;
  }
  #account-form .field {
    margin: 15px;
  }
  #account-form .field select,
  #account-form .field option {
    width: 75%;
  }
  img {
    margin: 10px 10px 0 0;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 16px;
  }
  .comment {
    font-size: 14px;
  }
  #header .navbar-inner {
    height: 20px;
  }
  #buttons {
    width: 100%;
    height: 100%;
  }
  #buttons .nav {
    margin: 0;
    height: 20px;
  }
  #buttons .app-button {
    display: none;
    height: 60px;
  }
  #buttons li {
    margin: 0;
  }
  #buttons li a {
    margin: 0;
    min-height: 20px;
    height: 20px;
  }
  #market-view img {
    margin: 0;
    width: 75px;
  }
  #market-view h3 {
    margin-bottom: 10px;
  }
  #market-view #your-app {
    margin-right: 0;
    width: 100%;
  }
  #market-view #no-app-message,
  #market-view .cozy-app {
    width: 100%;
  }
  #notifications .notification a.doaction {
    width: 300px;
  }
}
@media (max-width: 640px) {
  .application {
    width: 80px;
  }
  .application .app-title {
    font-size: 0.8em;
  }
  .application .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .application .btn-group .btn {
    display: block;
    position: static;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
@media (max-width: 500px) {
  #notifications-container #notifications {
    left: -50px;
    width: 310px;
  }
  #notifications-container #notifications .notification a.doaction {
    width: 260px;
  }
}
