/*
* www.KNACSS.com V2.7b (2013-08) @author: Raphael Goetter, Alsacreations
* Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/ 
*/

/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
    font-size: 62.5%;
}
body {
    background-color: #fff;
    color: #000;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    font-size: 1em; /* equiv 14px */
    line-height: 1.5;
    margin: .75em 0 0;
}
h1, .h1-like {
    font-size: 2.286em; /* equiv 32px */
    line-height: 1.6154em;
    margin: .8077em 0 0 0;
}
h2, .h2-like {
    font-size: 2em; /* equiv 28px */
    line-height: 1.75em;
    margin: .875em 0 0 0;
}
h3, .h3-like {
    font-size: 1.714em; /* equiv 24px */
    line-height: 1.909em;
    margin: .9545em 0 0 0;
}
h4, .h4-like {
    font-size: 1.4286em; /* equiv 20px */
    line-height: 1.05em;
    margin: 1.05em 0 0 0;
}
h5, .h5-like {
    font-size: 1.2857em; /* equiv 18px */
    line-height: 1.1667em;
    margin: 1.1667em 0 0 0;
}
h6, .h6-like {
    font-size: 1.1429em; /* equiv 16px */
    line-height: 1.3125em;
    margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
    font-size: .7143em; /* equiv 10px */
}
.small {
    font-size: .8571em; /* equiv 12px */
}
.big {
    font-size: 1.1429em; /* equiv 16px */
}
.bigger {
    font-size: 1.2857em; /* equiv 18px */
}
.biggest {
    font-size: 1.4286em; /* equiv 20px */
}

/* soft reset */
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
}
ul.unstyled {
    list-style: none;
}
code, 
pre,
samp,
kbd {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
    line-height: 1em;
}
code, kbd, mark {
    border-radius: 2px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
i,
b {
    font-style: normal;
    font-weight: normal;
}
kbd {
    padding: 0 2px;
    border: 1px solid #999;
}
code {
    padding: 2px 4px;
    background: rgba(0,0,0,.04);
    color: #b11; 
}
mark {
    padding:2px 4px;
    background: #ff0;
}
sup,
sub {
    vertical-align: 0;
    position: relative;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
/* pictures */
img {
    height: auto;
    vertical-align: middle;
}
/* Gmap3 max-width bug fix on images */
.gmnoscreen img,
.gmnoprint img {max-width: none !important;}

a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
    position: absolute;
}
.skip-links a {
    position: absolute;
    left: -7000px;
    padding: 0.5em;
    background: #000;
    color:#fff;
    text-decoration: none;
}
.skip-links a:focus {
    position: static;
}

/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* float layout */
/* module, gains superpower "BFC" Block Formating Context */
.mod { 
    overflow: hidden;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
    clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
    content: "";
    display: table;
    clear: both;
}

/* table layout */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > *,
.col {
    display: table-cell;
    vertical-align: top;
}

/* inline-block */
.inbl {
    display: inline-block;
    vertical-align: top;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.left {
    float: left;
}
img.left {
    margin-right: 1em;
}

/* right elements */
.right {
    float: right;
}
img.right {
    margin-left: 1em;
}

img.left, img.right {
    margin-bottom: 5px;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* blocks widths (percentages and pixels) */
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }

.w50p   { width: 50px; }
.w100p  { width: 100px; }
.w150p  { width: 150px; }
.w200p  { width: 200px; }
.w300p  { width: 300px; }
.w400p  { width: 400px; }
.w500p  { width: 500px; }
.w600p  { width: 600px; }
.w700p  { width: 700px; }
.w800p  { width: 800px; }
.w960p  { width: 960px; }
.mw960p { max-width: 960px; }
.w1140p  { width: 1140px; }
.mw1140p { max-width: 1140px; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n,0 = small(10px),medium(20px),large(30px), zero or none(0)
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: 10px; }
.ma2, .mam { margin: 20px; }
.ma3, .mal { margin: 30px; }
.pa1, .pas { padding: 10px; }
.pa2, .pam { padding: 20px; }
.pa3, .pal { padding: 30px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }

/* hiding content */
.visually-hidden {
    position: absolute;
    left: -7000px;
    overflow: hidden;
}
[dir=rtl] .visually-hidden {
    left: auto;
    right: -7000px;
}

.desktop-hidden { display: none; } /* hidden on desktop */

/* ----------------------------- */
/* ==iefix                       */
/* ----------------------------- */

/* hasLayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
    zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs a width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
    display: inline;
    zoom: 1;
}
.ie8 img {
    width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
    behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print                       */
/* ----------------------------- */

/* quick print reset */
@media print {
    p,
    blockquote {
        orphans: 2;
        widows: 2;
    }
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    caption {
        page-break-after: avoid;
    }
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
}

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can link them with an @import or, better for webperf, just paste them here */

/* @import url(my-styles.css); */


/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-200.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fcf9f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  color: #000;
  font-family: styled;
  font-size: 18px;
}
a {
  color: #15a7c7;
  font-weight: bold;
}
a {
  color: textcolor;
  text-decoration: none;
}
a:hover {
  color: #ff850a;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
input,
select {
  background: #fff;
  font-family: styled;
  text-align: center;
  font-size: 30px;
  height: 60px;
  width: 550px;
  padding: 10px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 0;
  color: #15a7c7;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
input:hover,
select:hover {
  border: 1px solid #15a7c7;
}
input:focus,
select:focus {
  color: #ff850a;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #ffc285;
}
.w500 {
  max-width: 500px;
}
.w600 {
  max-width: 600px;
  margin: auto;
}
.w800 {
  max-width: 800px;
  margin: auto;
}
.tooltip-inner a:hover,
.tooltip-inner a:hover {
  color: textcolor;
  text-decoration: none;
}
.ma2 {
  margin: 20px;
}
.pa2 {
  padding: 20px;
}
.par2 {
  padding-right: 20px;
}
.mt6 {
  margin-top: 60px;
}
.spacer,
.spacer {
  clear: both;
}
.close {
  float: right;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.btn {
  background: #15a7c7;
  border: 1px #11869f;
  margin: 0;
  font-family: main;
  color: #fff;
  padding: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  color: #fff;
  background: #ff850a;
  border-color: 1px solid #ff850a;
  color: whit;
}
.btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #ef7800;
  color: #fff;
}
.green {
  background: #66c666;
}
.red {
  background: #c66666;
}
.lightgrey {
  background: #f7f4f0;
}
.alert-error,
.alert-success {
  display: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: styled;
  font-size: 20px;
  padding: 20px;
  color: #fff;
}
.alert-error {
  background: #c66666;
}
.alert-success {
  background: #66c666;
}
.light-btn {
  background: transparent;
  margin: 0;
  font-family: main;
  color: #15a7c7;
  padding: 5px;
  margin-right: 5px;
}
.opaque {
  opacity: 1 !important;
  -ms-filter: none;
  filter: none;
}
input[type=checkbox] {
  margin-top: 8px;
}
.roundedOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfff4), color-stop(0.4, #dfe5d7), color-stop(1, #b3bead));
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  margin: 20px auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}
.roundedOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(1, #45484d));
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
}
.roundedOne label:after {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bf00), color-stop(1, #009400));
  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.roundedOne label:hover::after {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
.roundedOne input[type=checkbox]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.help-text {
  font-size: 26px;
  text-align: center;
  color: #000;
}
.help-text.small {
  font-size: 14px;
}
.help-text.small img {
  width: 24px;
}
* {
  outline: none;
}
.home-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: bgcolor;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 48px;
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#home-menu {
  position: fixed;
  right: 0;
}
#home-menu .menu-btn {
  z-index: 50;
  height: 52px;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#home-menu .menu-btn span {
  font-size: 24px;
  display: none;
  color: #363a46;
}
#home-menu .menu-btn img {
  width: 32px;
  cursor: pointer;
  margin: 10px 10px;
}
#home-menu .menu-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0;
  padding: 0;
  background: #f1e2cf;
}
#home-menu .menu-btn:hover a {
  color: #fff;
  font-weight: normal;
  color: #854300;
  padding: 30px 0px 10px 10px;
}
#home-menu .menu-btn:hover span {
  display: inline;
}
#home-menu .active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.navbar {
  position: fixed;
  background: #363a46;
  z-index: 1500;
  top: 0;
  width: 100%;
  height: 48px;
  padding: 0;
}
.navbar img {
  width: 32px;
  margin-left: 15px;
  margin-top: 8px;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar span {
  margin: 0;
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #000;
  margin: 0;
  padding: 0;
}
.navbar a:hover img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.navbar #logout-button {
  margin-right: 10px;
}
.navbar #logout-button span {
  display: none;
}
.navbar #logout-button:hover span {
  display: none;
}
/* content */
#content {
  height: 100%;
  overflow: auto;
}
#home-content {
  padding: 40px 60px 20px 40px;
}
/** Notifications */
#menu-applications-toggle {
  height: 46px;
  line-height: 42px;
  font-size: 42px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #fff;
}
#menu-applications-toggle #current-application {
  font-weight: normal;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#menu-applications-toggle #current-application:active {
  color: #fff;
}
#menu-applications-toggle #current-application:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#menu-applications-toggle span {
  font-size: 28px;
  padding-top: 5px;
}
#menu-applications-container.active #menu-applications-toggle {
  background: rgba(20,20,22,0.3);
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px #000;
  box-shadow: inset 2px 2px 2px #000;
  height: 42px;
  line-height: 42px;
  font-size: 42px;
}
#menu-applications-container.active #menu-applications-toggle span {
  margin-top: 2px;
}
#menu-applications-container {
  position: relative;
}
#menu-applications-container .clickcatcher {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.001;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  top: 40px;
  left: 0px;
  z-index: 40;
}
#menu-applications-container #menu-applications {
  display: none;
  position: absolute;
  left: 5px;
  top: 48px;
  width: 420px;
  z-index: 50;
  margin: 0;
  list-style-type: none;
  padding: 5px;
  color: #363a46;
  text-align: left;
  background: #e6ddd0;
  border: 1px solid #d5c5b0;
}
#menu-applications-container #menu-applications .menu-application {
  text-transform: lowercase;
}
#menu-applications-container #menu-applications .menu-application a {
  display: block;
  width: 100%;
  color: #363a46;
  cursor: pointer;
}
#menu-applications-container #menu-applications .menu-application:hover {
  background: #fce9d5;
}
#notifications-toggle {
  height: 45px;
  line-height: 45px;
  font-size: 45px;
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0;
  padding-top: 0;
}
#notifications-toggle img {
  padding: 0;
  margin: 0;
}
.active #notifications-toggle {
  background: rgba(20,20,22,0.3);
  margin-top: 0;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px #000;
  box-shadow: inset 2px 2px 2px #000;
}
#notifications-container {
  position: relative;
  padding: 0;
}
#notifications-container a {
  width: 20px;
  color: #363a46;
}
#notifications-container .badge {
  padding: 1px 2px 1px 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}
#notifications-container .badge:empty {
  display: none;
}
#notifications-container #clickcatcher {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.001;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  top: 40px;
  left: 0px;
  z-index: 40;
}
#notifications-container #notifications {
  z-index: 50;
  display: none;
  position: absolute;
  top: 48px;
  right: 0px;
  width: 420px;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: left;
  background: #e6ddd0;
  border: 1px solid #d5c5b0;
}
#notifications-container #notifications #dismiss-all {
  text-align: center;
  background-color: #e5cba9;
  margin-top: 5px;
  padding-top: 5px;
  clear: both;
  line-height: 25px;
  color: #000;
  cursor: pointer;
}
#notifications-container #notifications #dismiss-all:hover {
  background-color: #ff9d3b;
  color: #000;
}
#notifications-container #notifications .notification:hover a.dismiss {
  cursor: pointer;
  display: inline;
  color: #363a46;
}
#notifications-container #notifications .notification:hover a.dismiss:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#notifications-container #notifications .notification a.dismiss {
  display: none;
  float: right;
  line-height: 20px;
  padding: 5px;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#notifications-container #notifications .notification a.doaction {
  float: left;
  line-height: 20px;
  padding: 5px;
  color: #363a46;
  max-width: 360px;
  width: 360px;
  cursor: pointer;
}
#notifications-container #notifications .notification.new {
  background: #a5afaf;
}
#notifications-container #notifications .notification.transition {
  background-color: #8f9b9b;
  -webkit-transition: background-color 3s;
  -moz-transition: background-color 3s;
  -o-transition: background-color 3s;
  -ms-transition: background-color 3s;
  transition: background-color 3s;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #menu-applications-toggle span {
    padding-top: 10px;
  }
}
/** Applications */
#app-list {
  text-align: center;
  margin: 40px 0;
}
.application {
  width: 130px;
  margin: 6px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #f7f4f0;
}
.application img {
  max-width: 100px;
}
.application img.stopped {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
.application p {
  margin: 0;
  font-family: main;
  color: textcolor;
}
.application .app-title {
  font-family: styled;
  text-transform: uppercase;
  font-size: 14px;
  color: #363a46;
  text-decoration: none;
}
.application .app-title:hover {
  color: #ff850a;
}
.application .state-label {
  font-size: 18px;
  font-weight: normal;
  color: #f00;
}
.application a:hover {
  text-decoration: none;
}
.application .btn {
  font-size: 12px;
}
.application .application-outer {
  display: none;
  padding-top: 20px;
}
.application .application-outer p {
  margin: 0;
  padding: 0;
}
.application .application-outer label {
  margin: 0px;
}
.application .application-outer .app-stoppable {
  margin: 0px;
}
.application:hover {
  background: #f1e2cf;
}
.application:hover .app-title {
  color: #854300;
}
.application:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.application.broken a {
  cursor: default;
}
.application.broken .broken-notifier {
  display: block;
}
.app-tools {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  color: text-color;
  text-align: center;
  margin-bottom: 20px;
}
#no-app-message {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  background: #f7f4f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
}
#no-app-message #start-title {
  padding: 20px;
  font-size: 28px;
  margin-bottom: 30px;
}
#no-app-message #start-title img {
  float: left;
}
#no-app-message p {
  padding-left: 20px;
  padding-right: 20px;
}
#no-app-message img {
  width: 32px;
  margin-right: 10px;
}
#no-app-message img.logo {
  width: auto;
}
#no-app-message a {
  border-bottom: 0;
}
.darkbg {
  background: #363a46;
  color: #fff;
}
.section-title {
  background: #363a46;
  color: #fff;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  margin: auto;
}
.install-info {
  width: 40%;
  text-align: center;
}
#account-view input,
#account-view select {
  max-width: 490px;
  text-align: left;
  margin-bottom: 10px;
}
#account-view .input .btn {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}
#home-view {
  overflow: hidden;
  background: bgcolor;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#change-password-form {
  margin-top: 50px;
}
.app-introduction {
  margin-top: 60px;
  margin-bottom: 20px;
}
#your-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f4f0;
  float: left;
  width: 99%;
}
#your-app p {
  margin-bottom: 0;
}
#your-app .text {
  padding: 20px;
}
#your-app #app-git-field {
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  font-size: 24px;
  padding: 10px;
  margin-top: 2px;
  margin-right: 10px;
}
#your-app .btn {
  height: 60px;
}
#your-app .error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 615px;
  margin-top: 10px;
  font-size: 0.8em;
  padding: 5px;
}
#app-market-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
#app-market-list .app-install-button button,
#app-market-list .app-install-button div {
  display: inline;
}
#app-market-list .app-install-button .app-text {
  padding: 10px;
  word-wrap: normal;
  overflow-x: hidden;
}
#app-market-list .app-install-button .app-text p {
  margin-right: 20px;
}
#app-market-list .app-install-button .app-install {
  border: 0;
  outline: 0;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.8em;
  padding: 4px 8px;
  float: right;
}
#app-market-list .app-install-button .app-install-text {
  display: none;
  float: right;
  font-size: 0.8em;
  padding: 4px;
  padding-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 20px;
}
#market-view #no-app-message,
.cozy-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 49%;
  height: 180px;
  background: #f7f4f0;
  margin-right: 1%;
  margin-top: 1%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
}
#market-view #no-app-message h3,
.cozy-app h3 {
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 30px;
}
#market-view #no-app-message .comment,
.cozy-app .comment {
  font-size: 14px;
}
#market-view #no-app-message .btn,
.cozy-app .btn {
  float: right;
  margin: 10px 10px 10px 10px;
}
#market-view #no-app-message .app-img,
.cozy-app .app-img {
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  padding: 20px 20px 10px 20px;
  margin-right: 10px;
}
#market-view #no-app-message .img-btn,
.cozy-app .img-btn {
  width: 24px;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  margin: 10px 5px;
  display: none;
}
#market-view #no-app-message .img-btn:hover,
.cozy-app .img-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
}
.cozy-app:hover {
  background: #e6ddd0;
}
.cozy-app:hover .right {
  display: inline;
}
.cozy-app:hover .img-btn {
  display: inline;
}
.cozy-app.official {
  background: #f0f4f7;
}
.cozy-app.official:hover {
  background: #e0e8ef;
}
.config-application {
  background: #f7f4f0;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.config-application strong {
  text-transform: lowercase;
}
.config-application .mod {
  margin-left: 5px;
}
.config-application .mod.left {
  margin: 0;
}
.config-application .smaller {
  font-family: main;
}
.config-application .md-header {
  background: transparent;
}
.config-application .md-footer {
  padding: 0;
}
.config-application .md-footer .btn {
  font-weight: normal;
}
.application .permissionsLine p {
  text-shadow: none;
  color: #999;
}
.md-open {
  overflow: hidden;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-modal .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -o-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -ms-transition: all 3s;
  transition: all 3s;
  background: #fcf9f5;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  background: rgba(143,140,140,0.8);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}
.md-header {
  padding: 10px 20px;
  background: #363a46;
}
.md-header h3 {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 10px;
}
.md-header img {
  width: 32px;
}
.md-header span {
  padding-top: 30px;
}
.md-header p {
  margin-top: 0px;
  font-size: 18px;
  color: #fff;
}
.md-header a {
  color: #fff;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 32px;
  font-size: 24px;
}
.md-header a:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.md-header .repo-stars {
  right: 60px;
  padding-top: 3px;
  position: absolute;
}
.md-body {
  padding: 20px;
  color: #363a46;
}
.md-body p {
  margin-top: 0;
}
.md-body h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.md-footer {
  background: #f7f4f0;
  padding: 10px;
}
.md-show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
@media (max-width: 850px) {
  #header span,
  #market-view span {
    display: none;
  }
  #header #notificaction-counter,
  #market-view #notificaction-counter {
    display: inline;
  }
}
@media (max-width: 800px) {
  .md-content {
    overflow: auto;
  }
  .md-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    margin: 0;
    padding: 0;
  }
  .section-title {
    display: none;
  }
  .home-body {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #account-form {
    text-align: left;
  }
  #account-form p {
    margin: 15px;
  }
  #account-form .field {
    margin: 15px;
  }
  #account-form .field select,
  #account-form .field option {
    width: 75%;
  }
  img {
    margin: 10px 10px 0 0;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 16px;
  }
  .comment {
    font-size: 14px;
  }
  #buttons {
    width: 100%;
    height: 100%;
  }
  #buttons .nav {
    margin: 0;
    height: 20px;
  }
  #buttons .app-button {
    display: none;
    height: 60px;
  }
  #buttons li {
    margin: 0;
  }
  #buttons li a {
    margin: 0;
    min-height: 20px;
    height: 20px;
  }
  #market-view .app-img {
    padding: 20px 0;
  }
  #market-view .app-img img {
    margin: 0;
    width: 100px;
  }
  #market-view h3 {
    margin-bottom: 10px;
  }
  #market-view #your-app {
    margin-right: 0;
    width: 100%;
  }
  #market-view #your-app .btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  #market-view #your-app input {
    font-size: 16px;
  }
  #market-view .cozy-app {
    width: 100%;
    height: 150px;
  }
  #notifications .notification a.doaction {
    width: 300px;
  }
  #config-applications-view .w33 {
    width: 100%;
    padding: 10px 40px 10px 10px;
  }
  #config-applications-view .w66 {
    width: 100%;
    margin-top: 40px;
    padding: 10px 40px 10px 10px;
  }
}
@media (max-width: 640px) {
  #account-view input {
    max-width: 215px;
  }
  .application {
    width: 80px;
  }
  .application .app-title {
    font-size: 0.8em;
  }
  .application .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .application .btn-group .btn {
    display: block;
    position: static;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .application img {
    width: 60px;
  }
  #home-content {
    padding: 5px 60px 5px 5px;
  }
  #no-app-message {
    width: 100%;
  }
  #market-view {
    padding: 10px 0 10px 10px;
  }
  #market-view .right img {
    display: none;
  }
  #market-view #market-application-list .cozy-app {
    height: 300px;
  }
  #account-view #account-form .btn {
    width: 100%;
    margin: 20px 0 0 0;
    height: 30px;
  }
  #account-view select {
    width: 100%;
  }
  #help-view p.help-text {
    font-size: 20px;
  }
  #config-applications-view .w66 {
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  #market-view #your-app .btn {
    height: 30px;
  }
  #market-view #your-app input {
    font-size: 16px;
  }
  #market-view .cozy-app {
    height: 200px;
    margin-top: 10px;
  }
  #market-view .app-text {
    padding: 10px;
  }
  #market-view .app-img {
    display: block;
    padding: 0;
    width: 100%;
    height: 60px;
    text-align: left;
  }
  #market-view .app-img img {
    margin: 0;
    width: 50px;
  }
  #notifications-container #notifications {
    left: -50px;
    width: 310px;
  }
  #notifications-container #notifications .notification a.doaction {
    width: 260px;
  }
  #config-applications-view .config-application .mod.left {
    width: 100%;
    margin-bottom: 10px;
  }
}
