/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(/img/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(/img/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(/img/marker.png) no-repeat;
}


/*! gridster.js - v0.1.0 - 2013-06-14
* http://gridster.net/
* Copyright (c) 2013 ducksboard; Licensed MIT */

.gridster {
    position:relative;
}

.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.gridster .gs_w{
    z-index: 2;
    position: absolute;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.gridster .dragging {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}*/

/*
* www.KNACSS.com V2.7b (2013-08) @author: Raphael Goetter, Alsacreations
* Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/ 
*/

/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
    font-size: 62.5%;
}
body {
    background-color: #fff;
    color: #000;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    font-size: 1em; /* equiv 14px */
    line-height: 1.5;
    margin: .75em 0 0;
}
h1, .h1-like {
    font-size: 2.286em; /* equiv 32px */
    line-height: 1.6154em;
    margin: .8077em 0 0 0;
}
h2, .h2-like {
    font-size: 2em; /* equiv 28px */
    line-height: 1.75em;
    margin: .875em 0 0 0;
}
h3, .h3-like {
    font-size: 1.714em; /* equiv 24px */
    line-height: 1.909em;
    margin: .9545em 0 0 0;
}
h4, .h4-like {
    font-size: 1.4286em; /* equiv 20px */
    line-height: 1.05em;
    margin: 1.05em 0 0 0;
}
h5, .h5-like {
    font-size: 1.2857em; /* equiv 18px */
    line-height: 1.1667em;
    margin: 1.1667em 0 0 0;
}
h6, .h6-like {
    font-size: 1.1429em; /* equiv 16px */
    line-height: 1.3125em;
    margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
    font-size: .7143em; /* equiv 10px */
}
.small {
    font-size: .8571em; /* equiv 12px */
}
.big {
    font-size: 1.1429em; /* equiv 16px */
}
.bigger {
    font-size: 1.2857em; /* equiv 18px */
}
.biggest {
    font-size: 1.4286em; /* equiv 20px */
}

/* soft reset */
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
}
ul.unstyled {
    list-style: none;
}
code, 
pre,
samp,
kbd {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
    line-height: 1em;
}
code, kbd, mark {
    border-radius: 2px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
i,
b {
    font-style: normal;
    font-weight: normal;
}
kbd {
    padding: 0 2px;
    border: 1px solid #999;
}
code {
    padding: 2px 4px;
    background: rgba(0,0,0,.04);
    color: #b11; 
}
mark {
    padding:2px 4px;
    background: #ff0;
}
sup,
sub {
    vertical-align: 0;
    position: relative;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
/* pictures */
img {
    height: auto;
    vertical-align: middle;
}
/* Gmap3 max-width bug fix on images */
.gmnoscreen img,
.gmnoprint img {max-width: none !important;}

a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
    position: absolute;
}
.skip-links a {
    position: absolute;
    left: -7000px;
    padding: 0.5em;
    background: #000;
    color:#fff;
    text-decoration: none;
}
.skip-links a:focus {
    position: static;
}

/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* float layout */
/* module, gains superpower "BFC" Block Formating Context */
.mod { 
    overflow: hidden;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
    clear: both;
}

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
    content: "";
    display: table;
    clear: both;
}

/* table layout */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > *,
.col {
    display: table-cell;
    vertical-align: top;
}

/* inline-block */
.inbl {
    display: inline-block;
    vertical-align: top;
}

/* alignments (blocks and inline) */
/* ------------------------------ */

/* left elements */
.left {
    float: left;
}
img.left {
    margin-right: 1em;
}

/* right elements */
.right {
    float: right;
}
img.right {
    margin-left: 1em;
}

img.left, img.right {
    margin-bottom: 5px;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

/* blocks widths (percentages and pixels) */
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }

.w50p   { width: 50px; }
.w100p  { width: 100px; }
.w150p  { width: 150px; }
.w200p  { width: 200px; }
.w300p  { width: 300px; }
.w400p  { width: 400px; }
.w500p  { width: 500px; }
.w600p  { width: 600px; }
.w700p  { width: 700px; }
.w800p  { width: 800px; }
.w960p  { width: 960px; }
.mw960p { max-width: 960px; }
.w1140p  { width: 1140px; }
.mw1140p { max-width: 1140px; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n,0 = small(10px),medium(20px),large(30px), zero or none(0)
source https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/
.m-reset, .ma0 { margin: 0; }
.p-reset, .pa0 { padding: 0; }
.ma1, .mas { margin: 10px; }
.ma2, .mam { margin: 20px; }
.ma3, .mal { margin: 30px; }
.pa1, .pas { padding: 10px; }
.pa2, .pam { padding: 20px; }
.pa3, .pal { padding: 30px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }
.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }
.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }
.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }
.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }
.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }
.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }

/* hiding content */
.visually-hidden {
    position: absolute;
    left: -7000px;
    overflow: hidden;
}
[dir=rtl] .visually-hidden {
    left: auto;
    right: -7000px;
}

.desktop-hidden { display: none; } /* hidden on desktop */

/* ----------------------------- */
/* ==iefix                       */
/* ----------------------------- */

/* hasLayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
    zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs a width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
    display: inline;
    zoom: 1;
}
.ie8 img {
    width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
    behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print                       */
/* ----------------------------- */

/* quick print reset */
@media print {
    p,
    blockquote {
        orphans: 2;
        widows: 2;
    }
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    caption {
        page-break-after: avoid;
    }
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
}

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can link them with an @import or, better for webperf, just paste them here */

/* @import url(my-styles.css); */



/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fcf9f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
a {
  color: #15a7c7;
  text-decoration: none;
}
a:hover {
  color: #ff850a;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
input,
select {
  background: #fff;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-size: 30px;
  height: 60px;
  width: 550px;
  padding: 10px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 0;
  color: #15a7c7;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
input:hover,
select:hover {
  border: 1px solid #15a7c7;
}
input:focus,
select:focus {
  color: #ff850a;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #ffc285;
}
.w500 {
  max-width: 500px;
}
.w600 {
  max-width: 600px;
  margin: auto;
}
.w800 {
  max-width: 800px;
  margin: auto;
}
.tooltip-inner a:hover {
  color: textcolor;
  text-decoration: none;
}
.ma2 {
  margin: 20px;
}
.pa2 {
  padding: 20px;
}
.par2 {
  padding-right: 20px;
}
.mt6 {
  margin-top: 60px;
}
.spacer {
  clear: both;
}
.close {
  float: right;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.btn {
  background: #15a7c7;
  border: 1px #11869f;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  padding: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  color: #fff;
  background: #ff850a;
  border-color: 1px solid #ff850a;
  color: #fff;
}
.btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #ef7800;
  color: #fff;
}
.green {
  background: #66c666;
}
.red {
  background: #c66666;
}
.lightgrey {
  background: #f7f4f0;
}
.alert-error,
.alert-success {
  display: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #fff;
}
.alert-error {
  background: #c66666;
}
.alert-success {
  background: #66c666;
}
.light-btn {
  background: transparent;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #15a7c7;
  padding: 5px;
  margin-right: 5px;
}
input[type=checkbox] {
  margin-top: 8px;
  width: 15px;
  height: 15px;
}
.help-text {
  font-size: 26px;
  text-align: center;
  color: #000;
}
.help-text.small {
  font-size: 14px;
}
.help-text.small img {
  width: 24px;
}
dialog {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 60vw;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #363a46;
  -webkit-box-shadow: 0 0 5px rgba(252,249,245,0.55);
  box-shadow: 0 0 5px rgba(252,249,245,0.55);
  background-color: #fcf9f5;
  font-family: "Source Sans Pro", sans-serif;
}
@media (max-width: 640px) {
  dialog {
    width: 90vw;
  }
}
dialog h1 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
}
dialog a,
dialog button,
dialog [role=button] {
  font: 1em "Source Sans Pro", sans-serif;
}
dialog[open] {
  display: block;
}
dialog[open] + .backdrop,
dialog[open]::backdrop {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.65);
}
@media (min-width: 501px) {
  .wizard {
    top: calc(50% + 24px);
  }
}
.wizard[open] {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wizard [aria-hidden=true] {
  display: none;
}
.wizard section {
  max-height: 70vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  flex: 2 auto;
}
.wizard section .content {
  overflow: auto;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  flex: 2 auto;
}
.wizard section header,
.wizard section footer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
.wizard footer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  padding: 1em 0;
}
.wizard .progress {
  position: relative;
}
.wizard .progress::before,
.wizard .progress::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 21%;
  right: 21%;
  display: block;
  height: 4px;
  margin-top: -2px;
}
.wizard .progress::before {
  background-color: #e6ddd0;
}
.wizard .progress::after {
  background-color: #a3e7f5;
}
.wizard .progress.adv-0::after {
  right: 79%;
}
.wizard .progress.adv-1::after {
  right: 78.41999999999999%;
}
.wizard .progress.adv-2::after {
  right: 77.84%;
}
.wizard .progress.adv-3::after {
  right: 77.25999999999999%;
}
.wizard .progress.adv-4::after {
  right: 76.67999999999999%;
}
.wizard .progress.adv-5::after {
  right: 76.1%;
}
.wizard .progress.adv-6::after {
  right: 75.52%;
}
.wizard .progress.adv-7::after {
  right: 74.94%;
}
.wizard .progress.adv-8::after {
  right: 74.36%;
}
.wizard .progress.adv-9::after {
  right: 73.78%;
}
.wizard .progress.adv-10::after {
  right: 73.19999999999999%;
}
.wizard .progress.adv-11::after {
  right: 72.62%;
}
.wizard .progress.adv-12::after {
  right: 72.03999999999999%;
}
.wizard .progress.adv-13::after {
  right: 71.46%;
}
.wizard .progress.adv-14::after {
  right: 70.88%;
}
.wizard .progress.adv-15::after {
  right: 70.3%;
}
.wizard .progress.adv-16::after {
  right: 69.72%;
}
.wizard .progress.adv-17::after {
  right: 69.13999999999999%;
}
.wizard .progress.adv-18::after {
  right: 68.56%;
}
.wizard .progress.adv-19::after {
  right: 67.97999999999999%;
}
.wizard .progress.adv-20::after {
  right: 67.4%;
}
.wizard .progress.adv-21::after {
  right: 66.82%;
}
.wizard .progress.adv-22::after {
  right: 66.24%;
}
.wizard .progress.adv-23::after {
  right: 65.66%;
}
.wizard .progress.adv-24::after {
  right: 65.08%;
}
.wizard .progress.adv-25::after {
  right: 64.5%;
}
.wizard .progress.adv-26::after {
  right: 63.919999999999995%;
}
.wizard .progress.adv-27::after {
  right: 63.339999999999996%;
}
.wizard .progress.adv-28::after {
  right: 62.76%;
}
.wizard .progress.adv-29::after {
  right: 62.18%;
}
.wizard .progress.adv-30::after {
  right: 61.599999999999994%;
}
.wizard .progress.adv-31::after {
  right: 61.019999999999996%;
}
.wizard .progress.adv-32::after {
  right: 60.44%;
}
.wizard .progress.adv-33::after {
  right: 59.86%;
}
.wizard .progress.adv-34::after {
  right: 59.279999999999994%;
}
.wizard .progress.adv-35::after {
  right: 58.699999999999996%;
}
.wizard .progress.adv-36::after {
  right: 58.12%;
}
.wizard .progress.adv-37::after {
  right: 57.54%;
}
.wizard .progress.adv-38::after {
  right: 56.96%;
}
.wizard .progress.adv-39::after {
  right: 56.379999999999995%;
}
.wizard .progress.adv-40::after {
  right: 55.8%;
}
.wizard .progress.adv-41::after {
  right: 55.22%;
}
.wizard .progress.adv-42::after {
  right: 54.64%;
}
.wizard .progress.adv-43::after {
  right: 54.059999999999995%;
}
.wizard .progress.adv-44::after {
  right: 53.48%;
}
.wizard .progress.adv-45::after {
  right: 52.9%;
}
.wizard .progress.adv-46::after {
  right: 52.31999999999999%;
}
.wizard .progress.adv-47::after {
  right: 51.739999999999995%;
}
.wizard .progress.adv-48::after {
  right: 51.16%;
}
.wizard .progress.adv-49::after {
  right: 50.58%;
}
.wizard .progress.adv-50::after {
  right: 50%;
}
.wizard .progress.adv-51::after {
  right: 49.42%;
}
.wizard .progress.adv-52::after {
  right: 48.839999999999996%;
}
.wizard .progress.adv-53::after {
  right: 48.26%;
}
.wizard .progress.adv-54::after {
  right: 47.68%;
}
.wizard .progress.adv-55::after {
  right: 47.099999999999994%;
}
.wizard .progress.adv-56::after {
  right: 46.519999999999996%;
}
.wizard .progress.adv-57::after {
  right: 45.94%;
}
.wizard .progress.adv-58::after {
  right: 45.36%;
}
.wizard .progress.adv-59::after {
  right: 44.78%;
}
.wizard .progress.adv-60::after {
  right: 44.2%;
}
.wizard .progress.adv-61::after {
  right: 43.62%;
}
.wizard .progress.adv-62::after {
  right: 43.04%;
}
.wizard .progress.adv-63::after {
  right: 42.459999999999994%;
}
.wizard .progress.adv-64::after {
  right: 41.879999999999995%;
}
.wizard .progress.adv-65::after {
  right: 41.3%;
}
.wizard .progress.adv-66::after {
  right: 40.72%;
}
.wizard .progress.adv-67::after {
  right: 40.14%;
}
.wizard .progress.adv-68::after {
  right: 39.56%;
}
.wizard .progress.adv-69::after {
  right: 38.980000000000004%;
}
.wizard .progress.adv-70::after {
  right: 38.4%;
}
.wizard .progress.adv-71::after {
  right: 37.82%;
}
.wizard .progress.adv-72::after {
  right: 37.239999999999995%;
}
.wizard .progress.adv-73::after {
  right: 36.66%;
}
.wizard .progress.adv-74::after {
  right: 36.08%;
}
.wizard .progress.adv-75::after {
  right: 35.5%;
}
.wizard .progress.adv-76::after {
  right: 34.92%;
}
.wizard .progress.adv-77::after {
  right: 34.34%;
}
.wizard .progress.adv-78::after {
  right: 33.76%;
}
.wizard .progress.adv-79::after {
  right: 33.18%;
}
.wizard .progress.adv-80::after {
  right: 32.6%;
}
.wizard .progress.adv-81::after {
  right: 32.019999999999996%;
}
.wizard .progress.adv-82::after {
  right: 31.439999999999998%;
}
.wizard .progress.adv-83::after {
  right: 30.86%;
}
.wizard .progress.adv-84::after {
  right: 30.28%;
}
.wizard .progress.adv-85::after {
  right: 29.7%;
}
.wizard .progress.adv-86::after {
  right: 29.119999999999997%;
}
.wizard .progress.adv-87::after {
  right: 28.54%;
}
.wizard .progress.adv-88::after {
  right: 27.96%;
}
.wizard .progress.adv-89::after {
  right: 27.38%;
}
.wizard .progress.adv-90::after {
  right: 26.8%;
}
.wizard .progress.adv-91::after {
  right: 26.22%;
}
.wizard .progress.adv-92::after {
  right: 25.64%;
}
.wizard .progress.adv-93::after {
  right: 25.06%;
}
.wizard .progress.adv-94::after {
  right: 24.48%;
}
.wizard .progress.adv-95::after {
  right: 23.9%;
}
.wizard .progress.adv-96::after {
  right: 23.32%;
}
.wizard .progress.adv-97::after {
  right: 22.74%;
}
.wizard .progress.adv-98::after {
  right: 22.16%;
}
.wizard .progress.adv-99::after {
  right: 21.58%;
}
.wizard .progress.adv-100::after {
  right: 21%;
}
.wizard .progress ol {
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 20%;
  padding: 0;
}
.wizard .progress li {
  position: relative;
  z-index: 1;
  text-indent: -9999em;
  width: 0.8em;
  height: 0.8em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #e6ddd0;
}
.wizard .progress [aria-selected=true] {
  background-color: #15a7c7;
}
.wizard .progress .past {
  background-color: #a3e7f5;
}
.wizard header {
  padding: 0.65em 1.5em;
  background-color: #363a46;
  color: #fff;
}
.wizard section p {
  margin: 0;
  padding: 0 1.5em 1em;
}
.wizard section p:first-child {
  padding-top: 1em;
}
.wizard section ul {
  padding: 0 1.5em 1em 4em;
}
.wizard section footer {
  text-align: center;
  padding-bottom: 0;
}
.wizard button {
  float: none !important;
  margin: 0 1em 1em;
  padding: 0.45em 0.85em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #15a7c7;
  color: #fff;
}
.wizard button:focus,
.wizard button:hover {
  background-color: #ff850a;
}
.wizard button.action.no {
  background-color: transparent;
  color: #15a7c7;
}
.wizard button.action.no:focus,
.wizard button.action.no:hover {
  color: #ff850a;
}
* {
  outline: none;
}
.home-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: bgcolor;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 48px;
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#home-menu {
  position: fixed;
  z-index: 50;
  right: 0;
}
#home-menu .logout-menu-icon {
  display: none;
}
#home-menu .menu-btn {
  z-index: 50;
  height: 52px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#home-menu .menu-btn span {
  font-size: 24px;
  display: none;
  color: #363a46;
}
#home-menu .menu-btn img {
  width: 32px;
  cursor: pointer;
  margin: 10px 10px;
}
#home-menu .menu-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0;
  padding: 0;
  background: #f1e2cf;
}
#home-menu .menu-btn:hover a {
  color: #fff;
  font-weight: normal;
  color: #854300;
  padding: 30px 0px 10px 10px;
}
#home-menu .menu-btn:hover span {
  display: inline;
}
#home-menu .active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.navbar {
  position: fixed;
  background: #363a46;
  z-index: 1500;
  top: 0;
  width: 100%;
  height: 48px;
  padding: 0;
}
.navbar span {
  margin: 0;
}
.navbar img {
  height: 28px;
  vertical-align: middle;
  margin: 0;
}
.logo {
  margin: 7px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #fff;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.logo:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.logo span {
  display: inline-block !important;
  vertical-align: super;
}
#logout-button {
  margin-right: 15px;
  height: 45px;
  line-height: 45px;
}
#logout-button span {
  display: none;
}
#logout-button:hover span {
  display: none;
}
/* content */
#content {
  height: 100%;
  overflow: auto;
}
#home-content {
  padding: 40px 60px 20px 40px;
}
.wizard section img {
  display: inline-block;
  float: left;
  margin: 0.25em 1em 0 0;
}
/** Notifications */
#menu-applications-toggle {
  height: 46px;
  line-height: 42px;
  font-size: 42px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #fff;
  font-family: 'Maven Pro', sans-serif;
}
#menu-applications-toggle #current-application {
  font-weight: normal;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#menu-applications-toggle #current-application:active {
  color: #fff;
}
#menu-applications-toggle #current-application:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#menu-applications-toggle span {
  font-size: 28px;
  padding-top: 5px;
}
#menu-applications-container.active #menu-applications-toggle {
  background: rgba(20,20,22,0.3);
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px #000;
  box-shadow: inset 2px 2px 2px #000;
  height: 42px;
  line-height: 42px;
  font-size: 42px;
}
#menu-applications-container.active #menu-applications-toggle span {
  margin-top: 2px;
}
#menu-applications-container {
  position: relative;
}
#menu-applications-container .clickcatcher {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.001;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: 40px;
  left: 0px;
  z-index: 40;
}
#menu-applications-container #menu-applications {
  display: none;
  position: absolute;
  left: 5px;
  top: 48px;
  width: 220px;
  z-index: 50;
  margin: 0;
  list-style-type: none;
  padding: 5px;
  color: #363a46;
  text-align: left;
  background: #e6ddd0;
  border: 1px solid #d5c5b0;
}
#menu-applications-container #menu-applications .menu-application {
  text-transform: lowercase;
}
#menu-applications-container #menu-applications .menu-application a {
  display: block;
  width: 100%;
  color: #363a46;
  cursor: pointer;
}
#menu-applications-container #menu-applications .menu-application:hover {
  background: #fce9d5;
}
#notifications-toggle {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 45px;
  width: auto;
  cursor: pointer;
  margin-left: 10px;
  margin: 0;
  padding: 0 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#notifications-toggle img {
  vertical-align: baseline;
}
#notifications-toggle #notifications-counter {
  position: absolute;
  top: 3px;
  right: 0;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 17px;
  font-size: 15px;
  text-align: center;
  background: #d9534f;
  color: #fff;
  border: 2px solid #363a46;
}
#notifications-toggle #notifications-counter:empty {
  padding: 0;
}
#notifications-toggle .backcolor {
  position: absolute;
  top: 15px;
  left: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
  display: block;
  background-color: #fff;
  width: 20px;
  height: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#notifications-toggle:hover {
  background: rgba(220,220,222,0.3);
}
#notifications-toggle.highlight img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.active #notifications-toggle {
  background: rgba(20,20,22,0.3);
  margin-top: 0;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px #000;
  box-shadow: inset 2px 2px 2px #000;
}
.active #notifications-toggle .backcolor {
  display: none;
}
#notifications-container {
  position: relative;
  padding: 0;
  margin-right: 15px;
}
#notifications-container a {
  color: #363a46;
}
#notifications-container .badge {
  padding: 1px 2px 1px 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}
#notifications-container .badge:empty {
  display: none;
}
#notifications-container #clickcatcher {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.001;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: 40px;
  left: 0px;
  z-index: 40;
}
#notifications-container #notifications {
  z-index: 50;
  display: none;
  position: absolute;
  top: 48px;
  right: 0px;
  width: 420px;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: left;
  background: #e6ddd0;
  border: 1px solid #d5c5b0;
}
#notifications-container #notifications #dismiss-all {
  text-align: center;
  background-color: #e5cba9;
  margin-top: 5px;
  padding-top: 5px;
  clear: both;
  line-height: 25px;
  color: #000;
  cursor: pointer;
}
#notifications-container #notifications #dismiss-all:hover {
  background-color: #ff9d3b;
  color: #000;
}
#notifications-container #notifications .notification:hover a.dismiss {
  cursor: pointer;
  display: inline;
  color: #363a46;
}
#notifications-container #notifications .notification:hover a.dismiss:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#notifications-container #notifications .notification a.dismiss {
  display: none;
  float: right;
  line-height: 20px;
  padding: 5px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#notifications-container #notifications .notification a.doaction {
  float: left;
  line-height: 20px;
  padding: 5px;
  color: #363a46;
  max-width: 360px;
  width: 360px;
  cursor: pointer;
}
#notifications-container #notifications .notification.new {
  background: #a5afaf;
}
#notifications-container #notifications .notification.transition {
  background-color: #8f9b9b;
  -webkit-transition: background-color 3s;
  -moz-transition: background-color 3s;
  -o-transition: background-color 3s;
  -ms-transition: background-color 3s;
  transition: background-color 3s;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #menu-applications-toggle span {
    padding-top: 10px;
  }
}
/** Applications */
#home-edit-close {
  text-align: center;
  margin-bottom: 10px;
}
#home-edit-close a {
  display: inline-block;
  margin: auto;
  padding: 5px;
  font-weight: normal;
  margin-top: 10px;
}
#app-list {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
#app-list .preview-holder {
  padding: 10px;
  display: block;
  list-style-type: none;
  background-color: #ff850a;
}
#app-list .widget-iframe,
#app-list .widget-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#app-list .widget-mask {
  z-index: 10;
  background: #808080;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#app-list .use-widget {
  display: none;
  z-index: 20;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.application {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.application .mask,
.application .bottom-handle,
.application .bottom-right-handle,
.application .right-hanldle {
  display: none;
}
.application .application-inner {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  padding-top: 5px;
}
.application .application-inner .vertical-aligner {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.application .application-inner.widget {
  height: 100%;
  top: 0px;
  bottom: 0px;
}
.application .application-inner img {
  width: 70%;
  display: block;
  margin: 0px auto 2% auto;
  text-align: center;
  max-width: 100px;
  max-height: 100px;
}
.application .application-inner img.svg {
  -webkit-border-radius: 200px;
  border-radius: 200px;
  padding: 5px;
}
.application .application-inner p {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: textcolor;
}
.application .application-inner .app-title {
  height: 20%;
  max-height: 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #363a46;
  text-decoration: none;
  margin-top: 12px;
}
.application .application-inner .state-label {
  font-size: 18px;
  font-weight: normal;
  color: #f00;
}
.application.ui-resizable:not(.ui-resizable-disabled) {
  cursor: move;
  border: 3px solid #15a7c7;
}
.application.ui-resizable:not(.ui-resizable-disabled) .ui-resizable-e {
  width: 20px;
  right: -10px;
  cursor: col-resize;
}
.application.ui-resizable:not(.ui-resizable-disabled) .ui-resizable-s {
  height: 20px;
  bottom: -10px;
  cursor: row-resize;
}
.application.ui-resizable:not(.ui-resizable-disabled) .ui-resizable-se {
  width: 20px;
  height: 20px;
  right: -10px;
  bottom: -10px;
  cursor: nwse-resize;
}
.application.ui-resizable:not(.ui-resizable-disabled) .mask {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #808080;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.application.ui-resizable:not(.ui-resizable-disabled) .bottom-handle,
.application.ui-resizable:not(.ui-resizable-disabled) .bottom-right-handle,
.application.ui-resizable:not(.ui-resizable-disabled) .right-handle {
  display: block;
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  background: #15a7c7;
  border: 1px solid #fff;
}
.application.ui-resizable:not(.ui-resizable-disabled) .bottom-handle {
  bottom: -6.5px;
  left: 50%;
  cursor: row-resize;
}
.application.ui-resizable:not(.ui-resizable-disabled) .bottom-right-handle {
  bottom: -6.5px;
  right: -6.5px;
  cursor: nwse-resize;
}
.application.ui-resizable:not(.ui-resizable-disabled) .right-handle {
  top: 50%;
  right: -6.5px;
  cursor: col-resize;
}
.application:hover {
  background: #f1e2cf;
}
.application:hover .app-title {
  color: #854300;
}
.application:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.application.broken .broken-notifier {
  display: block;
}
.app-tools {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  color: text-color;
  text-align: center;
  margin-bottom: 20px;
}
#no-app-message {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  background: #f7f4f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
}
#no-app-message #start-title {
  padding: 20px;
  font-size: 28px;
  margin-bottom: 30px;
}
#no-app-message #start-title img {
  float: left;
}
#no-app-message p {
  padding-left: 20px;
  padding-right: 20px;
}
#no-app-message img {
  width: 32px;
  margin-right: 10px;
}
#no-app-message img.logo {
  width: auto;
}
#no-app-message a {
  border-bottom: 0;
}
.darkbg {
  background: #363a46;
  color: #fff;
}
.section-title {
  background: #363a46;
  color: #fff;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  margin: auto;
}
.install-info {
  width: 40%;
  text-align: center;
}
#account-view input,
#account-view select {
  max-width: 490px;
  text-align: left;
  margin-bottom: 10px;
}
#account-view .input .btn {
  height: 55px;
  width: 55px;
  margin-left: 10px;
}
#home-view {
  overflow: hidden;
  background: bgcolor;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#change-password-form {
  margin-top: 50px;
}
.app-introduction {
  margin-top: 60px;
  margin-bottom: 20px;
}
#your-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f4f0;
  float: left;
  width: 99%;
}
#your-app p {
  margin-bottom: 0;
}
#your-app .text {
  padding: 20px;
}
#your-app #app-git-field {
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  font-size: 24px;
  padding: 10px;
  margin-top: 2px;
  margin-right: 10px;
}
#your-app .btn {
  height: 60px;
}
#your-app .error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 615px;
  margin-top: 10px;
  font-size: 0.8em;
  padding: 5px;
}
#app-market-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
#app-market-list .app-install-button button,
#app-market-list .app-install-button div {
  display: inline;
}
#app-market-list .app-install-button .app-text {
  padding: 10px;
  word-wrap: normal;
  overflow-x: hidden;
}
#app-market-list .app-install-button .app-text p {
  margin-right: 20px;
}
#app-market-list .app-install-button .app-install {
  border: 0;
  outline: 0;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.8em;
  padding: 4px 8px;
  float: right;
}
#app-market-list .app-install-button .app-install-text {
  display: none;
  float: right;
  font-size: 0.8em;
  padding: 4px;
  padding-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ef7800;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 20px;
}
#market-view #no-app-message,
.cozy-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 49%;
  height: 180px;
  background: #f7f4f0;
  margin-right: 1%;
  margin-top: 1%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
}
#market-view #no-app-message h3,
.cozy-app h3 {
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 30px;
}
#market-view #no-app-message .comment,
.cozy-app .comment {
  font-size: 14px;
}
#market-view #no-app-message .btn,
.cozy-app .btn {
  float: right;
  margin: 10px 10px 10px 10px;
}
#market-view #no-app-message .app-img,
.cozy-app .app-img {
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  padding: 25px 20px 10px 20px;
  margin-right: 10px;
}
#market-view #no-app-message .app-img img.svg,
.cozy-app .app-img img.svg {
  -webkit-border-radius: 200px;
  border-radius: 200px;
  padding: 15px;
  width: 130px;
  height: 130px;
}
#market-view #no-app-message .img-btn,
.cozy-app .img-btn {
  width: 24px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  margin: 10px 5px;
  display: none;
}
#market-view #no-app-message .img-btn:hover,
.cozy-app .img-btn:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
}
.cozy-app:hover {
  background: #e6ddd0;
}
.cozy-app:hover .right {
  display: inline;
}
.cozy-app:hover .img-btn {
  display: inline;
}
.cozy-app.official {
  background: #f0f4f7;
}
.cozy-app.official:hover {
  background: #e0e8ef;
}
.title-app a.subtitle {
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
}
#config-application-list {
  margin-top: 10px;
}
.config-application {
  background: #f7f4f0;
  padding: 10px 10px 0 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.config-application strong {
  text-transform: lowercase;
  font-size: 20px;
}
.config-application .mod {
  margin-left: 5px;
  display: inline-block;
}
.config-application .mod.left {
  margin: 0;
}
.config-application .smaller {
  font-family: 'Source Sans Pro', sans-serif;
}
.config-application .md-header {
  background: transparent;
}
.config-application .md-footer {
  padding: 0;
}
.config-application .md-footer .btn {
  font-weight: normal;
}
.config-application .buttons {
  display: none;
}
.config-application .img {
  width: 72px;
}
.config-application:hover .buttons {
  display: inline-block;
}
#config-applications-view .stack-app .app {
  font-weight: normal;
}
#config-applications-view .stack-app .line.buttons {
  margin-top: 20px;
}
.title-device {
  display: none;
}
.config-device {
  background: #f7f4f0;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.config-device .spinner {
  margin: 0 10px;
}
.config-device strong,
.config-device .mod {
  margin-left: 5px;
  display: inline-block;
}
.config-device .mod.left {
  margin: 0;
}
.config-device .smaller {
  font-family: 'Source Sans Pro', sans-serif;
}
.config-device .md-header {
  background: transparent;
}
.config-device .md-footer {
  padding: 0;
}
.config-device .md-footer .btn {
  font-weight: normal;
}
.config-device .buttons {
  display: none;
}
.config-device:hover .buttons {
  display: block;
}
.config-device:hover .dataLine {
  text-shadow: none;
}
.config-device:hover .docTypeLine {
  text-shadow: none;
}
#config-applications-view .change-layout img {
  margin-left: 5px;
  margin-bottom: 7px;
  width: 60px;
}
#config-applications-view .change-layout a {
  color: #000;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
}
#config-applications-view .change-layout a:hover {
  color: #ff850a;
}
.application .permissionsLine p {
  text-shadow: none;
  color: #999;
}
.md-open {
  overflow: hidden;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-modal .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -o-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -ms-transition: all 3s;
  transition: all 3s;
  background: #fcf9f5;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: rgba(143,140,140,0.8);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}
.md-header {
  padding: 10px 20px;
  background: #363a46;
}
.md-header h3 {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 10px;
}
.md-header img {
  width: 32px;
}
.md-header span {
  padding-top: 30px;
}
.md-header p {
  margin-top: 0px;
  font-size: 18px;
  color: #fff;
}
.md-header a {
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 32px;
  font-size: 24px;
}
.md-header a:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.md-header .repo-stars {
  right: 60px;
  padding-top: 3px;
  position: absolute;
}
.noncozy-warning {
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  padding: 5px 10px;
  color: #808080;
  background: #fff4f0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.md-body {
  background: #f7f4f0;
  padding: 20px;
  color: #363a46;
}
.md-body.loading {
  text-align: center;
}
.md-body.error {
  color: #f00;
}
.md-body .spinner {
  display: inline-block;
}
.md-body p {
  margin-top: 0;
}
.md-body h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.md-footer {
  background: #f7f4f0;
  padding: 10px;
}
.md-show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
#tutorial-view div.question {
  display: none;
}
#tutorial-view div.question.active {
  display: block;
}
#tutorial-view div.question button {
  padding: 10px;
  font-size: 16px;
}
#tutorial-view #end-screen ul {
  margin: 10px 150px;
}
@media (max-width: 850px) {
  #market-view span {
    display: none;
  }
  #market-view #notificaction-counter {
    display: inline;
  }
}
@media (max-width: 800px) {
  .md-content {
    overflow: auto;
  }
  .md-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90%;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0;
    padding: 0;
  }
  .section-title {
    display: none;
  }
  .home-body {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #account-form {
    text-align: left;
  }
  #account-form p {
    margin: 15px;
  }
  #account-form .field {
    margin: 15px;
  }
  #account-form .field select,
  #account-form .field option {
    width: 75%;
  }
  img {
    margin: 10px 10px 0 0;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 16px;
  }
  .comment {
    font-size: 14px;
  }
  #buttons {
    width: 100%;
    height: 100%;
  }
  #buttons .nav {
    margin: 0;
    height: 20px;
  }
  #buttons .app-button {
    display: none;
    height: 60px;
  }
  #buttons li {
    margin: 0;
  }
  #buttons li a {
    margin: 0;
    min-height: 20px;
    height: 20px;
  }
  #market-view .app-img {
    padding: 20px 0;
  }
  #market-view .app-img img {
    margin: 0;
  }
  #market-view h3 {
    margin-bottom: 10px;
  }
  #market-view #your-app {
    margin-right: 0;
    width: 100%;
  }
  #market-view #your-app .btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  #market-view #your-app input {
    font-size: 16px;
  }
  #market-view .cozy-app {
    width: 100%;
    height: 180px;
  }
  #notifications .notification a.doaction {
    width: 300px;
  }
  #config-applications-view .w33 {
    width: 100%;
    padding: 10px 40px 10px 10px;
  }
  #config-applications-view .w66 {
    width: 100%;
    margin-top: 40px;
    padding: 10px 40px 10px 10px;
  }
  #config-applications-view .config-applications .buttons {
    display: block;
  }
  #config-applications-view .change-layout img,
  #config-applications-view .disk-space img,
  #config-applications-view .memory-free img,
  #config-applications-view .stack-app img {
    width: 32px;
    margin: 0px;
    margin-right: 5px;
  }
  #config-applications-view .sys-infos .line {
    display: inline-block;
    clear: none;
  }
  #config-applications-view .sys-infos div {
    margin-top: 5px;
  }
  #config-applications-view .platform .line img {
    width: 32px;
    margin: 0px;
    margin-right: 5px;
  }
  #config-applications-view h4 {
    margin-bottom: 20px;
  }
  #config-applications-view .stack-app .line {
    display: block;
  }
}
@media (max-width: 640px) {
  header#header {
    display: none;
  }
  div.home-body {
    padding-top: 0;
    height: 100%;
  }
  #account-view p {
    margin: 10px 0;
  }
  #account-view input,
  #account-view select {
    width: 100%;
    font-size: 16px;
  }
  #home-content {
    padding: 5px 60px 5px 5px;
  }
  #no-app-message {
    width: 100%;
  }
  #market-view {
    padding: 10px 0 10px 10px;
  }
  #market-view .right img {
    display: none;
  }
  #market-view #market-application-list .cozy-app {
    height: 300px;
  }
  #account-view #account-form .btn {
    width: 100%;
    margin: 20px 0 0 0;
    height: 30px;
  }
  #account-view select {
    width: 100%;
  }
  #help-view p.help-text {
    font-size: 20px;
  }
  #config-applications-view .w66 {
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  #home-menu .logout-menu-icon {
    display: block;
  }
  .customize-icon,
  .help-icon {
    display: none;
  }
  .application .application-inner img {
    margin-bottom: -5px;
  }
  .application .application-inner .app-title {
    margin-top: 4px;
    font-size: 12px;
  }
  #market-view #your-app .btn {
    height: 30px;
  }
  #market-view #your-app input {
    font-size: 16px;
  }
  #market-view .cozy-app {
    height: auto;
    margin-top: 10px;
  }
  #market-view .app-text {
    padding: 10px;
  }
  #market-view .app-img {
    display: block;
    padding: 0;
    width: 100%;
    height: 120px;
    text-align: left;
  }
  #market-view .app-img img {
    margin: 10px 0 0 10px;
    width: 100px;
    height: 100px;
  }
  #notifications-container {
    display: none;
  }
  #notifications-container #notifications {
    left: -180px;
    width: 310px;
  }
  #notifications-container #notifications .notification a.doaction {
    width: 260px;
  }
  #config-applications-view .config-application .mod.left {
    width: 100%;
    margin-bottom: 10px;
  }
  #content #home-menu .menu-btn:hover {
    background: none;
    background-color: transparent;
  }
  #content #home-menu .menu-btn:hover span {
    display: none;
  }
}
span.app {
  font-weight: bold;
}
button.btn {
  margin-bottom: 4px;
  margin-right: 4px;
}


/*# sourceMappingURL=app.css.map*/