h1 Account
form#account-form
  p
    label email:
      input#account-email-field(type="text")
    label fill this field to set a new password:
      input#account-password1-field(type="password")
    label confirm new password:
      input#account-password2-field(type="password")

    button#account-form-button(class="btn", type="submit") Send changes

