form#account-form.well
  p
    label email
    input#account-email-field(type="text")
  p
    label fill this field to set a new password
    input#account-password1-field(type="password")
  p
    label confirm new password
    input#account-password2-field(type="password")
 
  p
    button#account-form-button(class="btn", type="submit") Send changes
    span.loading-indicator

    div#account-info.alert.main-alert.hide
        div#account-info-text 

    div#account-error.alert.alert-error.main-alert.hide
        div#account-form-error-text 

