form#account-form.well
  p email
  p.field
    a#account-email-field
  p timezone
  p.field
    a#account-timezone-field
  p domain
  p.field
    a#account-domain-field

  p
    button#change-password-button.btn Change password

  #change-password-form
      p Change password
      p
        label fill this field to set a new password
        input#account-password1-field(type="password")
      p
        label confirm new password
        input#account-password2-field(type="password")
     
      p
        button#account-form-button(class="btn", type="submit") Send changes

        p.loading-indicator &nbsp;

        div#account-info.alert.main-alert.alert-success.hide
            div#account-info-text 

        div#account-error.alert.alert-error.main-alert.hide
            div#account-form-error-text 
