a(href="apps/#{app.slug}/", target="_blank")
  .application-inner
    p
      img(src="apps/#{app.slug}/icons/main_icon.png")
    p.app-title #{app.name}
  .application-outer.center
      .btn-group
        button.btn.remove-app remove
        button.btn.update-app update
      .btn-group
        button.btn.remove-app start
        button.btn.update-app stop
