#no-app-message.center.hidden
    p You have actually no application installed on your Cozy Cloud

#app-list

.app-tools
  .machine-infos
    .memory
      div
        | Memory consumption
        | (Total: <span class="total"></span>)
      .progress
        .bar

    .disk 
      div
        | Disk consumption 
        | (total: <span class="total"></span>)
      .progress
        .bar

         
  .btn-group
      button#add-app-button.btn
        | <i class="icon-plus"></i>
        | add
      button#manage-app-button.btn
        | manage

#add-app-modal.modal.right.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") 
        |&times;
    h3 Application installer

  div#add-app-form.modal-body
    p
      label name
      input(type="text", class="span3", id="app-name-field", maxlength="13")
    p
      label Git URL
      input(type="text", class="span3", id="app-git-field")
    .error.alert.alert-error.main-alert
    .info.alert.main-alert


  .modal-footer
    button.pull-left.loading-indicator &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    button#add-app-submit.btn.btn-orange(type="submit") install

