#no-app-message.center.hidden
    p You have actually no application installed on your Cozy Cloud

#app-list

.app-tools
  .machine-infos
    .memory
      div
        | Memory consumption
        | (Total: <span class="total"></span>)
      .progress
        .bar

    .disk 
      div
        | Disk consumption 
        | (total: <span class="total"></span>)
      .progress
        .bar

         
  .btn-group
      button#add-app-button.btn
        | <i class="icon-plus"></i>
        | add
      button#manage-app-button.btn
        | manage

#add-app-modal.modal.right.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") 
        |&times;
    h3 Application installer

  #add-app-form.modal-body
    #your-app
        p
            | Install 
            a(href="https://cozycloud.cc/make/", target="_blank") your app
        p
          label Git URL
          input(type="text", class="span3", id="app-git-field")
        .error.alert.alert-error.main-alert
        .info.alert.main-alert

    #install-button
        button#add-app-submit.btn.btn-orange(type="submit") install
        button.loading-indicator &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
    div.app-introduction
        p
            | Or install an existing one:

    .cozy-app
        img.pull-left(src="img/mails-icon.png")
        h3 mails
        span.comment (alpha version)
        p
            | Aggregate all your mails in one place. 
        p
            button#add-mails-submit.btn.btn-orange(type="submit") install

    .cozy-app
        img.pull-left(src="img/bookmarks-icon.png")
        h3 bookmarks 
        span.comment (external contribution)
        p
            | Manage your bookmark easily
        p
            button#add-bookmarks-submit.btn.btn-orange(type="submit") install

    .cozy-app
        img.pull-left(src="img/feeds-icon.png")
        h3 feeds 
        span.comment (external contribution)
        p
            | Aggregate your feeds and save your favorite links in bookmarks.
        p
            button#add-feeds-submit.btn.btn-orange(type="submit") install
