.clearfix
    .mod
        strong #{device.login}
        span &nbsp;-&nbsp;
        span.state-label= t('synchronized')

    .buttons.right
        i.fa.fa-trash.mr1
        | 
        button.remove-device.btn= t('revoke device access')
