.clearfix
    .mod
        strong #{device.login}
        span &nbsp;-&nbsp;
        span.state-label= t('synchronized')

    .buttons.right
        button.remove-device.btn
            i.fa.fa-trash.mr1
            | 
            span.label= t('revoke device access')
