//.section-title.darkbg.bigger apps
.txt-center
    .line.w800
        .mod.w33.left
            .sys-infos.line
                .mod.center-txt
                    h4= t('Hardware consumption')
                    .disk-space.mt2
                        .line
                            img(src="img/hard-drive.png")
                        .line
                            span.amount 0
                            span &nbsp;/&nbsp;
                            span.total 0
                            span= t('&nbsp;GB (Hard Drive)')
                    .memory-free.mt2
                        .line 
                            img(src="img/ram.png")
                        .lien
                            span.amount 0
                            span &nbsp;/&nbsp;
                            span.total 0&nbsp;
                            span= t('&nbsp;MB (RAM)')
        .mod.w66.left
            h4.mb3= t('Manage your applications')
