.clearfix
    .mod
        strong #{device.login}

    .buttons.right.w33
        button.remove-device.btn.w100
            i.fa.fa-trash.mr1
            | 
            span.label= t('revoke device access')
