p.help-text
    | Do you look for assistance?
p.help-text
    |1) Write an email to our support team at:
P.help-text 
    a(href="mailto:support@cozycloud.cc") support@cozycloud.cc/
p.help-text
    |2) Register and post on our forum: 
P.help-text 
    a(href="https://forum.cozycloud.cc/") https://forum.cozycloud.cc/
p.help-text.mt6.small
    a(href="#home")
        img(src="img/home.png")
        br
        | go to back to home page
