p.help-text
    | Do you look for assistance?
p.help-text
    | Write an email to our support team at:
P.help-text 
    a(href="mailto:support@cozycloud.cc") support@cozycloud.cc/
p.help-text
    | Register and post on our forum: 
P.help-text 
    a(href="https://forum.cozycloud.cc/") https://forum.cozycloud.cc/
p.help-text
    | Ask your question on Twitter: 
P.help-text 
    a(href="https://twitter.com/mycozycloud") @mycozycloud
