#no-app-message.center
    p 
        | You have actually no application installed on your Cozy. 
        | Go to the <a href="#applications">app store</a> to install a new one!

#app-list

.app-tools
  .machine-infos
    .memory
      div
        | Memory consumption
        | (Total: <span class="total"></span>)
      .progress
        .bar

    .disk 
      div
        | Disk consumption 
        | (total: <span class="total"></span>)
      .progress
        .bar


  .btn-group
      button#manage-app-button.btn
        | manage
