a(href="#apps/#{app.slug}/")
  .application-inner
    p
      img(src="")
    p.app-title #{app.name}
    p.broken-notifier broken app
.application-outer.center
  .btn-group
    button.btn.remove-app remove
    button.btn.update-app update
  div
    button.btn.btn-large.startStop-app start