a(href="#apps/#{app.slug}/")
  .application-inner
    p
      img(src="")
    p.app-title #{app.name}
.application-outer.center
  .btn-group
    button.btn.remove-app remove
    button.btn.update-app update
  div
    button.btn.btn-large.start-stop-btn started
