.mask
div.bottom-handle
div.bottom-right-handle
div.right-handle
button.btn.use-widget= t('use widget')
div.application-inner
    .vertical-aligner
        img.icon(src="")
        p.app-title #{app.displayName}
