.mask
div.bottom-handle
div.bottom-right-handle
div.right-handle
button.btn.use-widget= t('use widget')
div.application-inner
    //-img.icon(src="")
    //-.spinner
        //-.cube1
        //-.cube2
    //-p.app-title #{app.displayName}
    .vertical-aligner
        img.icon(src="")
        p.app-title #{app.displayName}
