#no-app-message.center
    p!= t('no-app-message')

.txtright.menu-btn
    span chose your apps
    img(src="img/apps.png")

.txtright.menu-btn
    span configure your cozy
    img(src="img/configuration.png")

.txtright.menu-btn
    span ask for assistance
    img(src="img/help.png")

#app-list

.app-tools
  .machine-infos
    .memory
      div
        = t('Memory consumption')
        | &nbsp;(#{t('total')}: <span class="total"></span>)
      .progress
        .bar

    .disk
      div
        = t('Disk consumption')
        | &nbsp;(#{t('total')} : <span class="total"></span>)
      .progress
        .bar

