header#header.navbar
  .navbar-inner.clearfix
      h2#header-title
          a(href="http://cozycloud.cc/", target="_blank", title="home") 
              img(src="img/grey-logo.png", alt="Cozy Cloud Symbol")
        #buttons
              ul.nav
                li.active
                  a#home-button
                    i.icon-home
                    span &nbsp;Home
                li
                  a#account-button
                    i.icon-user
                    span &nbsp;Account
                li
                  a#logout-button
                    i.icon-arrow-right
              ul.nav

.home-body
  #app-frames
  #content

