header#header.navbar

.home-body
  #app-frames
  #content
    #home-menu.mt3
        .txtright.menu-btn
            a(href="#home")
                span your cozy home 
                img(src="img/apps.png")

        .txtright.menu-btn
            a(href="#config-applications")
                span manage your apps
                img(src="img/config-apps.png")

        .txtright.menu-btn
            a(href="#applications")
                span chose your apps
                img(src="img/store.png")

        .txtright.menu-btn
            a(href="#account")
                span configure your cozy
                img(src="img/configuration.png")

        .txtright.menu-btn
            a(href="#help")
                span ask for assistance
                img(src="img/help.png")
    #home-content
