header#header.navbar


#notifications.right-menu
    ul#notifications-list
        li#no-notif-msg= t('you have no notifications')

#notifications-buttons.right-menu
    button#dismiss-all.btn= t('dismiss all')
    a#logout-button.btn(href="#logout")= t('navbar logout')


.home-body
    #app-frames
    #content
        // Preload spinners and hover icons
        img.hidden(src="/img/spinner.svg")
        img.hidden(src="/img/spinner-white.svg")
        img.hidden(src="/img/notification-orange.png")
        #home-content
