header#header.navbar

.right-menu
    #notifications-buttons
        button#dismiss-all.btn.outline-darkgrey
            i.fa.fa-times-circle
            span= t('dismiss all')

    #notifications
        ul#notifications-list
            li#no-notif-msg= t('you have no notifications')


.home-body
    #app-frames
    #content
        // Preload spinners and hover icons
        img.hidden(src="/img/spinner.svg")
        img.hidden(src="/img/spinner-white.svg")
        img.hidden(src="/img/notification-orange.png")
        #home-content
