header#header.navbar

#notifications-menu.right-menu
    .top-title
        h2= t('notifications')
        button#dismiss-all.btn.outline-darkgrey.small
            span= t('dismiss all')

    #notifications
        ul#notifications-list
            li#no-notif-msg

#help-menu.right-menu

.home-body
    #app-frames
    #content
        // Preload spinners and hover icons
        img.hidden(src="/img/spinner.svg")
        img.hidden(src="/img/spinner-white.svg")
        #home-content
