header#header
  h2#header-title
      a(href="http://www.mycozycloud.com/", target="_blank", title="home") 
        | Cozy Cloud
    #buttons
      button#account-button(class="btn", type="submit") Account
      button#home-button(class="btn", type="submit") Applications
      button#logout-button(class="btn", type="submit") Sign out

.container
  #content

