header#header.navbar

#notifications
    ul#notifications-list
        li#no-notif-msg= t('you have no notifications')
        li.separator

    .buttons
        #dismiss-all.spin-black.btn= t('dismiss all')
        a#logout-button.btn(href="#logout")
            span=t('navbar logout')

.home-body
    #app-frames
    #content
        #home-content
