h2 Sign in

#login-form
  p
    input#login-password(type="password", placeholder="enter your password...")
  p
    a#forgot-password-button forgot password ?

  div#login-info.alert.main-alert
    div#login-info-text 

  div#login-error.alert.alert-error.main-alert
    div#login-form-error-text 

