p= t('welcome-app-store')
#app-market-list
    #your-app
        .app-install-button.pull-right
            button.app-install +
            .app-install-text= t('add application ?')
        .text
            p
                = t('Install')
                | &nbsp;
                a(href="https://cozycloud.cc/make/", target="_blank")= t('your app!')
            p
              input(type="text", class="span3", id="app-git-field", placeholder="https://github.com/username/repository.git@branch")
            .error.alert.alert-error.main-alert
            .info.alert.main-alert

    #no-app-message= t('installed-everything')
.clearfix
