.navbar.clearfix
    a#logout-button.btn-navbar.sign-out.right(href="#logout", title="#{t('logout')}")
        i.fa.fa-sign-out
    a#help-toggle.btn-navbar.right(href="#help", title="#{t('help')}")
        i.fa.fa-question-circle
    #notifications-container.right
    a.back-button.left(href="#home", title="#{t('navbar back button title')}")
        .fa.fa-chevron-left
        span
            = t("navbar back button title")
    #menu-applications-container
