.navbar.clearfix
    a#logout-button.btn-navbar.sign-out.right(href="#logout", title="#{t('logout')}")
        i.fa.fa-sign-out
    a#help-toggle.btn-navbar.right(href="#help", title="#{t('help')}")
        i.fa.fa-question-circle
    #notifications-container.right
    a.back-button.left(href="#home", title="#{t('navbar back button title')}")
        .fa.fa-chevron-left
        span
            = t("navbar back button title")
    #menu-applications-container
    //- parent should already be window.parent by default
    - var qwantMode = parent.urlArguments && parent.urlArguments.modes && parent.urlArguments.modes.indexOf('qwant_search') !== -1;
    if (parent.DEV_ENV || qwantMode) && (parent.qwantInstalled)
        div.search
            input#search-bar(type="text")
