.navbar.clearfix
    a.left(href="http://cozy.io")
        img(src="img/happycloud-black.png")
    span#notifications-container
    span#menu-applications-container
        
    a#logout-button.right(href="#logout")
        span logout
        img(src="img/logout-black.png")
