.navbar.clearfix
    a.logo.left(href="#home")
        img(src="img/happycloud-white.svg")
        span beta
    #menu-applications-container.left

    a#logout-button.right(href="#logout")
        span=t('logout')
        img(src="img/logout-white.png")
    .right#notifications-container
