.navbar
    span#notifications-container
    a#home-button(href="#home")
        img(src="img/home-black.png")
    a#logout-button.right(href="#logout")
        img(src="img/logout-black.png")
            
