.navbar.clearfix
    a.left(href="#home")
        img(src="img/happycloud.png")
    span#notifications-container
    span#menu-applications-container
        
    a#logout-button.right(href="#logout")
        span logout
        img(src="img/logout-white.png")
