.navbar-inner.clearfix
      h2#header-title
          a(href="http://cozycloud.cc/", target="_blank", title="home") 
              img(src="img/grey-logo.png", alt="Cozy Cloud Symbol")
        #buttons
              ul.nav
                li.active
                  a#home-button(href="#home")
                    i.icon-home
                    span &nbsp;Home
                li
                  a#market-button(href="#market")
                    i.icon-plus
                    span &nbsp;Market
                li
                  a#account-button(href="#account")
                    i.icon-user
                    span &nbsp;Account
                li
                    a#help-button(href="https://questions-beta.cozycloud.cc/",
                                  target="_blank")
                        i.icon-help &nbsp;
                li
                  a#logout-button(href="#logout")
                    i.icon-arrow-right