.navbar.clearfix
    a.left(href="#home")
        img(src="img/happycloud-small.png")
    #menu-applications-container.left
        
    a#logout-button.right(href="#logout")
        span=t('logout')
        img(src="img/logout-white.png")
    .right#notifications-container
