.navbar.clearfix
    #notifications-container.right
    a.fa.fa-chevron-left.back-button.left(href="#home", title="#{t('navbar back button title')}")
        = t("navbar back button title")
    #menu-applications-container
