.navbar.clearfix
    a.left(href="#home")
        img(src="img/happycloud-small.png")
    span#menu-applications-container
        
    a#logout-button.right(href="#logout")
        span=t('logout')
        img(src="img/logout-white.png")
    span.right#notifications-container
