.navbar.clearfix
    #notifications-container.right
    a.back-button.left(href="#home", title="#{t('navbar back button title')}")
        .fa.fa-chevron-left
        span
            = t("navbar back button title")
    #menu-applications-container
