a#notifications-toggle
    span.backcolor
    img(src="img/notification-white.png")
    span#notifications-counter
audio#notification-sound(src="sounds/notification.wav", preload)
#clickcatcher
ul#notifications
    li#no-notif-msg= t('you have no notifications')
    li#dismiss-all.spin-black.btn= t('dismiss all')
    li.separator
    li: a#logout-button(href="#logout")
        img(src="img/logout.png")
        span=t('logout')
