a#notifications-toggle
    i.icon-exclamation-sign &nbsp;
    span#notifications-counter.badge.badge-important
audio#notification-sound(src="sounds/notification.wav", preload)
#clickcatcher
ul#notifications
    li#no-notif-msg You have no notifications
    li#dismiss-all Dismiss All