a.dismiss &times;
.notification-text #{model.text}
.notification-date #{model.date}
if model.actionText !== undefined && model.actionText !== null
    if model.update
        a.doaction.btn.outline-blue
            i.fa.fa-refresh
            = t(model.actionText)
    else
        a.doaction.btn.grey= t(model.actionText)
