a#notifications-toggle
    img(src="img/notification-white.png")
audio#notification-sound(src="sounds/notification.wav", preload)
#clickcatcher
ul#notifications
    li#no-notif-msg= t('you have no notifications')
    li#dismiss-all.btn= t('dismiss all')
