//-a#notifications-toggle
img(src="img/notification-black.png")
//-audio#notification-sound(src="sounds/notification.wav", preload)
//-#clickcatcher
//-ul#notifications
    //-li#no-notif-msg= t('You have no notifications')
    //-li#dismiss-all= t('Dismiss All')
