// never displayed, just for downloading.
img#img-result


.objectPickerCont
    nav.fp-nav-tabs(role='tablist', aria-controls='objectPickerCont')

.croperCont
    .frame-to-crop
        div#img-to-crop
    .chooseAgain
        span #{t('Crop the photo')}
    div#frame-preview
        img#img-preview

