div.photoUpload-btn
    button.btn #{t('ObjPicker upload btn')}
div.photoUpload-or
    div #{t('or')}
.modal-file-drop-zone
    p #{t('drop a file')}
    div
input.uploader(type='file',style="display:none")
