.objectPickerCont
    nav.fp-nav-tabs
        .tabMarginTop
        div(role='tablist', aria-controls='objectPickerCont')
        .tabMarginBottom

.croperCont
    table
        tbody
            tr
                td
                    img#img-to-crop
                td
                    div#frame-img-preview
                        img#img-preview

    a.chooseAgain #{t('photo-modal chooseAgain')}