div.bloc-container
    div.img-container
        div.url-preview
    input.modal-url-input(placeholder="#{t('url of an image')}", value="")
    //- for tests small image  : value="https://weechat.org/media/images/weechat_logo_small.png"
    //- for tests medium image : value="http://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png"