.md-header.mt2=t('Once updated, this application will require the following permissions:')
.md-body
    div &nbsp;
.md-footer.mt2
    a#cancelbtn.btn.transparent-grey= t('cancel')
    if model.state === 'broken'
        a#confirmbtn.btn= t('confirm install')
    else
        a#confirmbtn.btn= t('confirm update')
