.md-header.mt2
    | Once updated, this application will require the following permissions:
.md-body
    div &nbsp;
.md-footer.mt2
    a#confirmbtn.btn.right= t('confirm update')
    a#cancelbtn.btn.light-btn.right= t('cancel')
