.md-content
    .md-header.clearfix
        .line
            h3.left #{model.displayName}
        if (model.comment !== 'official application')
            .line.noncozy-warning
                i.fa.fa-info-circle
                span
                    != t('warning unofficial app')
    .md-body
    .md-footer.clearfix
        button.btn.right#confirmbtn= t('install')
        button.btn.transparent-grey.right#cancelbtn= t('cancel')
