h2 Register to your Cozy
#login-form
  p
    input#register-email(type="text", placeholder="email")
    input#register-password(type="password", placeholder="password")
    
    #register-error.alert.alert-error.main-alert
      #register-error-text
        wrong data (wrong email or too short password).

