h1 Reset Password
form#reset-form
  p
    label fill this field to set a new password:
      input#reset-password1-field(type="password")
    label confirm new password:
      input#reset-password2-field(type="password")

    button#reset-form-button(class="btn", type="submit") Send changes

