h1 Reset Password
div.well
  form#reset-form
    p
      label fill this field to set a new password:
      input#reset-password1-field(type="password")
    p
      label confirm new password:
      input#reset-password2-field(type="password")

    p
      button#reset-form-button(class="btn", type="submit") Send changes

