darkgrey = #333
darkblue = #363a46
darkred = #C66666
darkgreen = #66C666
orange = #C60 + 20%
orangewhite = #fcf9f5
lightgrey = #f7f4f0
lightred = #fff4f0
lightgreyblue = #f0f4f7
lightgreyred = #f0fcfc
green = #5C5

html
    height  100%
    padding 0
    margin  0

body
    box-sizing       border-box
    height           100%
    padding          0
    margin           0

    background-color grey-01

    font-family      'Source Sans Pro', sans-serif
    font-size        16px

iframe
    width  100%
    height 100%
    border 0

a
    color blue
    text-decoration none
    transition color 0.2s ease

    &:hover
        color blue - 20%

hr
    margin 20px 0
    border 0
    border-top 1px solid grey-03

h4
    margin 40px 0 15px 0
    border-bottom 1px solid grey-03
    font-weight normal
    font-size (28/16)em


.tooltip-inner
    a:hover
        color textcolor
        text-decoration none

.spacer
    clear both

.close
    float right

.hidden
    display none

.center
    text-align center


.green
    background darkgreen

.red
    background darkred

