@import 'nib'

@font-face
    font-family: styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

bgcolor = #545e5f + 20%
shadowcolor = #444
bgshadowcolor = #666688
orange = #FE8800

bgcolorbuttons = #8CA6AE
bgclearcolorbuttons = bgcolorbuttons + 50%
bggreybuttons = #8C8C8C
bggreycleanbuttons = bggreybuttons + 50%
appbordercolor = bgcolorbuttons - 20%
bgcolorhoverbuttons = bgcolorbuttons + 20%
bgclearcolorhoverbuttons = bgcolorbuttons + 70%

textcolor = #EAF1F1
buttoncolor = #CAD1D1 + 60%
highlightcolor = #E2F8FF

green = #3AA131 + 10%
orange = #BA6131 + 10%
red = #AA2121 + 20%

body
    background-color: bgcolor
    box-sizing: border-box
    min-width: 320px
    color: textcolor
    font-family: styled
    font-size: 18px

a
    color: linkcolor
    font-weight bold

a
a:visited
a.editable-click
    color: textcolor
    border-bottom: 1px dashed textcolor

a.editable-click:hover
    color: orange
    border-bottom: 1px dashed textcolor

iframe
    width 100%
    height 100%
    border 0

body
    height 100%
    padding 0
    margin 0

html
    height 100%
    padding 0
    margin 0

html
    height 100%

.spacer
    clear both

.close
    float right

.hidden
    display: none

.center
    text-align center

.btn
    background: buttoncolor
    border: 1px solid buttoncolor - 20%
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
    margin: 0
    font-family: styled

.btn-group
    .btn
        font-size: 16px

.btn:hover
    background: buttoncolor + 60%
    box-shadow: 0 0 8px highlightcolor

.pressed
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
    background: buttoncolor - 10%

.pressed:hover
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 8px highlightcolor
    background: buttoncolor - 10%

.btn:active
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 8px highlightcolor
    background: buttoncolor - 10%

.btn-green
    background: green
    border: 1px solid green - 20%
    color: textcolor

.btn-green:active
.btn-green:focus
.btn-green:hover
    background: green
    color: textcolor
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
    cursor: default

.btn-orange
    background: orange
    border: 1px solid orange
    color: textcolor
.btn-green:active
.btn-orange:hover
    background: orange + 10%
    color: textcolor

.btn-red
    background: red
    border: 1px solid red
    color: textcolor
.btn-green:active
.btn-red:hover
    background: red + 20%
    color: textcolor

.alert-error
    shadow: 0 0 6px rgba(100, 60, 60, 0.85) inset
    background: rgba(242, 222, 222, 0.8)

.alert-success
    shadow: 0 0 6px rgba(60, 100, 60, 0.85) inset
    background: rgba(223, 240, 216, 0.8)

.progress
    margin: 20px 0
    height: 10px
    background: bgcolor - 30%

.progress .bar
    background: highlightcolor
    box-shadow: 0 0 6px highlightcolor

.home-body
    width:100%
    // height: 100%
    padding: 0
    margin: 0
    box-shadow: inset 0 0 100px #2b4244 + 20%
    background: bgcolor
    overflow: hidden

.well
    background: transparent
    border: 0
    margin: 2%
    color: textcolor
    text-align: center
    box-shadow: 0 0 0 0

.icon-help
    background-image: url('../img/help.png')
    background-repeat: no-repeat
    background-position: 0 0

.btn:focus
  outline: none

/* content */

#content
    padding: 0
    height: 100%
    overflow: auto

/* Header */

.navbar
    border-radius: 0
    .nav
        float: right

        .active a
        .active a:active
        .active a:focus
            box-shadow: 0
            box-shadow: inset 2px 1px 4px bgcolor - 40%
            background: bgcolor + 40%
            outline: none
            text-shadow: none

        .active
            text-shadow: none

        .active a:hover
            cursor: default
            background: bgcolor + 40%
            box-shadow: inset 2px 1px 4px bgcolor - 40%
            text-shadow: none

        li
            a
                text-shadow: none

            a:hover
                text-shadow: none
                cursor: pointer

#header
    box-sizing: border-box
    position relative
    margin-top 0px
    margin-bottom 0px
    border: 0
    border-bottom: 1px solid bgcolor

    .navbar-inner
        padding-right 5px
        background-color bgcolor + 80%
        background-image none
        height 100%
        border: 0
        border-radius: 0

    h2
        float left
        color linkcolor
        font-size: 12px

    a
        text-decoration none
        border-bottom: 0

    p
        margin 0

    a:hover
        color: linkcolor

    #buttons
        font-size: 1em
        float right

    #header-title
        width: 17%
        margin: 0

#buttons img
    width: 15px
    height: 15px

#app-frames
    height 100%
    display:none
    text-align: center

#buttons
    text-align right
    width: 83%

/** Notifications */
#notifications-container
    position: relative

    a
        width: 20px

    .badge
        padding: 1px 2px 1px 3px
        position: absolute
        top: 2px
        right: 2px

    .badge:empty
        display: none

    #notifications
        right: 0px
        display: none
        position: absolute
        z-index: 50
        list-style-type: none
        margin: 0
        width: 470px

        text-align: left
        background: #8f9b9b
        box-shadow 1px 1px 3px shadowcolor

        .notification
            padding: 10px 5px

            &.new
                background: #8f9b9b + 20%
            &.transition
                background-color: #8f9b9b
                transition: background-color 3s


/** Applications */

#app-list
    text-align: center
    margin: 40px 0

    button
        margin-top: 20px

.application
    width: 170px
    margin: 6px
    display: inline-block
    text-align: center
    border 1px solid appbordercolor
    box-shadow 1px 1px 3px shadowcolor
    border-radius 12px
    background linear-gradient(top, bgclearcolorbuttons 0%, bgcolorbuttons 100%)
    padding-bottom: 20px

    img
        margin-top: 10px

    p
        margin: 0
        font-family: main
        color textcolor
        text-shadow 1px 1px 1px shadowcolor

    .app-title
        font-size: 20px
        line-height: 30px
        font-weight: bold

    .state-label
        font-size: 18px
        color: red

    a:hover
        text-decoration: none

    .btn
        font-size: 12px

    .application-outer
        display:none

        .btn
            margin-top: 10px
        p
            margin: 0
            padding: 0


.application:active
    box-shadow none

.application:hover
    background linear-gradient(top, bgclearcolorhoverbuttons 0%, bgcolorhoverbuttons 100%)

.application.broken
    a
        cursor: default
    .broken-notifier
        display: block


.app-tools
    width: 50%
    margin-left: auto
    margin-right: auto
    margin-top: 12px
    color: text-color
    text-align: center
    margin-bottom: 20px

#no-app-message
    margin-top: 30px

.install-info
    width: 40%
    text-align center


// @deadcode
#add-app-close
#add-app-submit
    margin-top: 5px

// Account page

.control-group
#add-app-form
#account-form
    border: 0
    font-size: 1.1em
    padding: 0
    margin: 0

    select
    input
        height: 1.1em
        padding: 0.2em
        border-radius: 0.4em
        border: 0
        background-color: textcolor
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45) inset

    select
        height: 35px

    input:focus
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset, 0 0 17px rgba(82, 168, 236, 0.9)
        background: #e2f8ff

    .btn
        margin-top: 0.2em

    p
        margin: 20px 0 10px 0

    .field
        margin: 10px auto 20px auto
        width: 40%

    .icon-white
        background-image: url("../img/glyphicons-halflings.png")

    .alert
        width: 50%
        margin: auto
        margin-top: 30px


#add-app-form
    padding: 3%

    input
        font-size: 1em


#account-form
.control-group
    select
    input
        font-size: 1em

#account-info
#account-error
    display: none
    margin-bottom: 0

#home-view
    overflow:hidden
    background: bgcolor
    width: 100%
    height: 100%
    padding: 0
    margin: 0

#account-view
    #change-password-button
        margin-top: 50px

#change-password-form
    margin-top: 50px

.loading-indicator
    border: 0
    background: transparent
    box-shadow: 0
    color: textcolor

.app-introduction
    margin-top: 60px
    margin-bottom: 20px

// MARKET PAGE

#market-view
    padding: 20px

#your-app
    padding: 20px
    margin-right: 1%
    width: auto
    background: bgcolor + 20%
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

    #app-git-field
        box-sizing: border-box
        width: 100%
        height: 30px
        max-width: 500px
        margin-right: 20px

    .error
        box-sizing: border-box
        width: 100%
        max-width: 500px
        margin-right: 20px

#app-market-list
    box-sizing: border-box
    margin-top: 20px

#market-view #no-app-message,
.cozy-app
    box-sizing: border-box
    float: left
    width: 32.33%
    height: 140px
    margin-right: 1%

    background: bgcolor + 20%
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
    padding: 1%
    margin-top: 1%

    img
        margin: 10px 10px 0 0

    h3
        margin-top: 20px
        margin-bottom: 0
        padding-bottom: 0
        line-height: 16px

    .comment
        font-size: 14px

    .btn
        float: right
        width: 15%
        height: 70px
        margin: 10px 0px 10px 10px


// Responsive

@media (max-width: 1200px)
    #market-view #no-app-message,
    .cozy-app
        width: 49%

@media (max-width: 850px)
    #header-title
        display: none

    span
        display:none

@media (max-width: 800px)
    #header-title
        a
            padding-left: 0
            padding-right: 0

    #account-form
        text-align: left

        p
            margin: 15px

        .field
            margin: 15px

            select
            option
                width: 75%

    img
        margin: 10px 10px 0 0

    h3
        margin-top: 20px
        margin-bottom: 0
        padding-bottom: 0
        line-height: 16px

    .comment
        font-size: 14px

    #your-app
        margin-right: 0

    #market-view #no-app-message,
    .cozy-app
        width: 100%

    #buttons
        width: 100%

        a
            padding: 10px 5px

        li
            line-height: 30px

        li.app-button
            a
                padding: 4px 0 16px 10px

        .nav
            margin: 0
