@import 'nib'
@import '_base'
@import '_help'

* 
    outline: none

.home-body
    width:100%
    padding: 0
    margin: 0
    background: bgcolor
    overflow: hidden

#home-menu
    position: absolute
    right: 0

    .menu-btn
        height: 52px
        opacity: 0.3
        margin: 0
        padding: 0

        span
            font-size: 24px
            display: none
            color: darkblue

        img
            width: 32px
            cursor: pointer
            margin: 10px 10px

    .menu-btn:hover
        opacity: 1
        margin: 0
        padding: 0
        background: orangewhite - 10%

        a
            color: white
            font-weight: normal
            color: orange - 50%
            padding: 30px 0px 10px 10px

        span
            display: inline

    .active
        opacity: 1


.navbar
    background: orangewhite + 10%
    z-index: 15

    img
        width: 24px
        margin-left: 5px
        opacity: 0.5

    a:hover
        img
            opacity: 1


/* content */

#content
    height: 100%
    overflow: auto

#home-content
    padding: 40px 60px 20px 40px


/** Notifications */

#notifications-container
    position: relative

    a
        width: 20px

    .badge
        padding: 1px 2px 1px 3px
        position: absolute
        top: 2px
        right: 2px

    .badge:empty
        display: none

    #clickcatcher
        position fixed
        width 100%
        height 100%
        background-color red
        opacity 0.001
        top 40px
        left 0px
        z-index 40

    #notifications
        display: none
        position: absolute
        left: 0px
        width: 420px
        z-index: 50
        margin: 0
        list-style-type: none
        padding: 5px

        text-align: left
        background: #8f9b9b
        box-shadow 1px 1px 3px shadowcolor

        #dismiss-all
            text-align center
            background-color #8f9b9b + 20%
            margin-top 5px
            padding-top 5px
            clear both
            line-height 25px
            color white
            cursor pointer

            &:hover
                background-color lightorange - 20%
                color black


        .notification
            a.dismiss
                float right
                width 20px
                line-height 20px
                padding 5px

            a.doaction
                width 360px
                float left
                line-height 20px
                padding 5px

            &.new
                background: #8f9b9b + 20%
            &.transition
                background-color: #8f9b9b
                transition: background-color 3s


/** Applications */

#app-list
    text-align: center
    margin: 40px 0

.application
    width: 130px
    margin: 6px
    display: inline-block
    text-align: center
    padding: 10px
    border: 0
    cursor: pointer

    img
        width: 100px

    img.stopped
        opacity 0.5

    p
        margin: 0
        font-family: main
        color textcolor
        text-shadow 1px 1px 1px shadowcolor

    .app-title
        font-family: styled
        text-transform: uppercase
        font-size: 14px
        color: darkblue
        text-decoration: none

    .app-title:hover
        color: orange

    .state-label
        font-size: 18px
        font-weight: normal
        color: red

    a:hover
        text-decoration: none

    .btn
        font-size: 12px

    .application-outer
        display:none
        padding-top 20px

        p
            margin: 0
            padding: 0
        label
            margin 0px
        .app-stoppable
            margin 0px

.application:hover
    background: orangewhite - 10%

    .app-title
        color: orange - 50%

.application:active
    box-shadow none

.application.broken
    a
        cursor: default
    .broken-notifier
        display: block


.app-tools
    width: 50%
    margin-left: auto
    margin-right: auto
    margin-top: 12px
    color: text-color
    text-align: center
    margin-bottom: 20px

#no-app-message
    margin-top: 30px
    padding: 1em

    a
        border-bottom: 0

.install-info
    width: 40%
    text-align center


// Account page

.control-group
#add-app-form
#account-form
    border: 0
    font-size: 1.1em
    padding: 0
    margin: 0

    .btn
        margin: -5px 0 0 10px
        outline: 0

    .input
        .btn
            position: relative
            top: -3px
            height: 60px

    p
        margin: 20px 0 10px 0

    .field
        margin: 10px auto 20px auto
        width: 40%

    .alert
        width: 50%
        margin: auto
        margin-top: 30px


#add-app-form
    padding: 3%

    input
        font-size: 1em


#account-info
#account-error
    display: none
    margin-bottom: 0

#home-view
    overflow:hidden
    background: bgcolor
    width: 100%
    height: 100%
    padding: 0
    margin: 0

#account-view
    #change-password-button
        margin-top: 50px

#change-password-form
    margin-top: 50px

.loading-indicator
    border: 0
    background: transparent
    box-shadow: 0
    color: textcolor

.app-introduction
    margin-top: 60px
    margin-bottom: 20px

// MARKET PAGE

#your-app
    box-sizing: border-box
    background: light-grey
    float: left
    width: 100%
    height: 140px
    margin-right: 1%

    margin-top: 1%

    p
        margin-bottom: 0

    input
        margin-top: 10px

    .text
        padding: 20px

    #app-git-field
        box-sizing: border-box
        width: 100%
        height: 30px
        max-width: 500px
        margin-right: 20px

    .error
        box-sizing: border-box
        width: 100%
        max-width: 500px
        margin-right: 20px
        font-size: 0.8em

#app-market-list
    box-sizing: border-box
    margin-top: 20px

    .app-img
        box-sizing: border-box
        height: 140px
        width 140px
        padding: 20px 20px 10px 20px
        margin-right: 10px

    .app-install-button
        button
        div
            display: inline

        .app-text
            padding: 10px
            word-wrap: normal
            overflow-x: hidden

        .app-install
            border: 0
            outline: 0
            font-weight: bold
            color: orange - 10%
            box-shadow: none
            font-size: 0.8em
            padding: 4px 8px
            float: right

        .app-install-text
            display: none
            float: right
            font-size: 0.8em
            padding: 4px
            padding-left: 8px
            cursor: pointer
            font-weight: bold
            color: orange - 10%
            box-shadow: none
            height: 20px

#market-view #no-app-message,
.cozy-app
    box-sizing: border-box
    float: left
    width: 32.33%
    height: 140px
    margin-right: 1%
    background: light-grey
    margin-top: 1%

    h3
        margin-top: 20px
        margin-bottom: 0
        padding-bottom: 0
        line-height: 30px

    .comment
        font-size: 14px

    .btn
        float: right
        width: 15%
        height: 70px
        margin: 10px 0px 10px 10px


// modals

.modal
    margin-top: -200px

.modal-header
    color: grey
    font-weight: bold
    background-color: lightgrey

.modal-body
    color: grey
    font-family: main
    text-align: left;

.modal-footer
    background-color: white
    border-radius: 0

    .btn
        text-shadow: none
        border: 0
        color: grey
        background: buttoncolor
        border: 1px solid buttoncolor - 20%
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
        margin: 0
        font-family: styled

    .btn:hover
        background: #EFD6B8
        border-color: 1px solid #EFD6B8
        //box-shadow: 0 0 8px highlightcolor

    .btn:active
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
        background: buttoncolor - 10%


    .btn-primary
        color: grey
        background: #EFD6B8 + 40%

.application
    .permissionsLine
        p
            text-shadow: none
            color: grey + 20%

// Responsive

@media (max-width: 1200px)
    #header-title
        display: none

    #buttons
        width: 100%

    #market-view
        #no-app-message,
        .cozy-app
        #your-app
            width: 49%

@media (max-width: 850px)
    #header
    #market-view
        span
            display: none

        #notificaction-counter
            display: inline

@media (max-width: 800px)
    .home-body
        box-shadow: none

    #header-title
        a
            padding-left: 0
            padding-right: 0

    #account-form
        text-align: left

        p
            margin: 15px

        .field
            margin: 15px

            select
            option
                width: 75%

    img
        margin: 10px 10px 0 0

    h3
        margin-top: 20px
        margin-bottom: 0
        padding-bottom: 0
        line-height: 16px

    .comment
        font-size: 14px

    #header
        .navbar-inner
            height: 20px

    #buttons
        width: 100%
        height: 100%

        .nav
            margin: 0
            height: 20px

        .app-button
            display: none
            height: 60px

        li
            margin 0

            a
                margin 0
                min-height: 20px
                height: 20px

    #market-view
        img
            margin: 0
            width: 75px

        h3
            margin-bottom: 10px

        #your-app
            margin-right: 0
            width: 100%

        #no-app-message
        .cozy-app
            width: 100%

    #notifications
        .notification
            a.doaction
                width 300px

@media (max-width: 640px)
    .application
        width: 80px

        .app-title
            font-size: 0.8em

        .btn
            margin-left: 5px
            margin-right: 5px

        .btn-group
            .btn
                display: block
                position: static
                margin-left: 5px
                margin-right: 5px
                border-radius: 3px



@media (max-width: 500px)
    #notifications-container
        #notifications
            left: -50px
            width: 310px

            .notification
                a.doaction
                    width 260px

