.object-picker

  .modalCY-body
    display  :flex
    position :relative

  .objectPickerCont
    flex :1
    display         :flex
    flex-direction  :row
    justify-content :stretch
    position :absolute
    top      :0
    bottom   :0
    right    :0
    left     :0
    background-color :white

  .fp-nav-tabs
    flex-shrink :0
    flex-grow   :0
    background-color :#ddd
    display        :flex
    flex-direction :column

  .tabMarginTop
    flex-grow:2

  .tabMarginBottom
    flex-grow:3

  [role='tab']
    padding-right:8px
    padding-left:8px
    height:35px
    color:#3F3F3F
    cursor:pointer
    text-align: center
    line-height: 35px

  [aria-selected='true']
    background-color:#fff

  .thumbPicker
    position :relative
    // must be before aria-hidden otherwise display = none will not work
    display  : flex

  [aria-hidden="true"]
    display:none

  [role='tabpanel']
    flex-grow:1

  .viewport
    overflow-y :scroll
    overflow-x :hidden
    flex: 1

  .photoUpload[aria-hidden="false"]
    display:flex
    flex-direction:column
    justify-content: center
    align-content:center

  .thumbsContainer
    display:flex
    flex-wrap:wrap
    justify-content:center
    margin:7px
    img
      border: 5px solid transparent
      height: 120px
      // margin-bottom: 2px
      // margin-right: 2px
      cursor:pointer
    img.selected
      border: 5px solid #34a6ff
      border-radius: 3px
      -webkit-border-radius: 3px
      -ms-filter: none
      filter: none

  .next
    margin-top:10px
    margin-right:10px
    margin-bottom:10px
    width:30%
    min-width:40px
    max-width:150px

  .modal-uploadBtn
    width:250px
    height:30px
    margin-top:1em
    margin-left:auto
    margin-right:auto

  .modal-file-drop-zone
    flex-grow:1
    position:relative

    >div
      position :absolute
      left     :15px
      right    :15px
      top      :15px
      bottom   :15px
      z-index:1
      border-color :#E4E2E2
      border-style :dashed
      border-width :5px
      margin       :0px
    .dragging
      border-color:#34A6FF

    p
      font-size:2em
      font-weight:bold
      color:#B5ADAD
      line-height:1em
      text-align:center
      position:absolute
      top:50%
      left:50%
      transform: translateX(-50%) translateY(-50%)

  margin-urlUpload = 1.3em
  url-input-height = 1.8em
  .urlPhotoUpload[aria-hidden="false"]
    display         :flex
    flex-direction  :column
    // align-items     :stretch
    align-items     :stretch
    justify-content :center
    margin-bottom :margin-urlUpload

  .bloc-container
    display         :flex
    flex-direction  :column
    justify-content :stretch
    align-items     :stretch
    height: url-input-height

  .img-container
    position    :relative
    flex-grow   :1
    flex-shrink :1
    display         :none // will be replaced by 'flex' when the first image is loaded
    justify-content :center
    align-items     :center
    margin-top    :margin-urlUpload
    margin-bottom :0.5em
    margin-right  :margin-urlUpload
    margin-left   :margin-urlUpload

  .url-preview
    position  :absolute
    top       :50%
    left      :50%
    transform : translateX(-50%) translateY(-50%)
    width  :100%
    height :100%
    background-repeat   : no-repeat
    background-position : center
    background-size     : contain

  .modal-url-input
    flex-shrink :0
    flex-grow   :0
    align-self  : center
    width     :93%
    max-width :40em
    height    :1.8em
    margin-bottom:0
    padding-left:0.4em
    border-color:#34a6ff
    background:transparent
    font-size:1.0em

  .modal-url-input:hover
    border-color:#fe8800

  #img-to-crop
    display: block
    max-width  :300px
    max-height :300px

  #frame-img-preview
    width       :100px
    height      :100px
    overflow    :hidden
    margin-left :30px

  #img-preview
    max-width: none

  .croperCont
    flex-grow:1
    display:flex
    flex-direction:column
    align-items:center
    justify-content:center
    table
      flex-shrink:1
    a.chooseAgain
      cursor:pointer

.long-list-thumb
  max-width:none
  background-color: #F5F5F5
  cursor: pointer
  position: absolute
  opacity:1
  border:0


.long-list-thumb.selectedThumb
  color:blue
  border: 4px solid blue

.long-list-month-label
  position         : absolute
  color            : white
  z-index          : 1
  background-color : #9E9E9E
  width            : 4em
  padding          : 0.3em
  border-radius    : 0.3em
  width            : 8em
  text-align       : center

.long-list-index.visible
  opacity: 1

.long-list-index.hardVisible
  opacity: 1

.long-list-index
  opacity: 0
  transition:opacity 1s, top 0.5s

  div
    position:static
    text-align: right
    color:#4D4D4D
    background-color:rgba(255, 255, 255, 0.65)
    border-bottom-left-radius  : 0.4em
    border-top-left-radius : 0.4em
    padding-left:0.4em
    padding-right: 0.3em
    cursor:pointer
  div:hover
    color:rgba(255, 255, 255, 1)
    background-color:rgba(0, 0, 0, 0.6)
  .current
    // color:blue
    font-weight:bold
