.help-text
    text-align center

    .small
        font-size (14/16)em

        img
            width 24px

.help-section
    border-top: 1px solid grey-02

    .line
        margin-top: 1.2em

    a
        display: block
        margin-bottom: 5px
        text-transform: uppercase
        color: grey-07
        &:hover
            color: blue
        span
            display: inline-block
            vertical-align: middle
            padding-bottom: 12px
            margin-left: 15px
