.help-text
    font-size 26px
    text-align center

    .small
        font-size 14px

        img
            width 24px

.help-section
    .cover
        width 100%

#help-view
    p
        margin 0
        margin-bottom 0

    p.mt2
        margin-top 20px

    p.help-text
        font-size 20px
        text-align left

    .help-section
        .w50
            padding 30px

    .alert
        margin-top 10px
