button::-moz-focus-inner
    border 0

.btn
button
[role=button]
    box-sizing border-box
    margin 0
    padding (8/16)em (12/16)em

    background blue
    border 1px blue
    border-radius 3px
    cursor pointer

    font-family 'Source Sans Pro', sans-serif
    font-size 1em
    color white
    text-transform uppercase

    transition all 0.3s

    &:hover
        background blue - 20%
        border-color 1px solid blue - 20%

        color white

    &:active
        box-shadow 0 0
        background blue - 25%

    &.btn-green
        background-color green

    &.grey
        background-color grey-05
        color grey-08

        &:hover
            background-color grey-03

    &.transparent-grey
        background transparent
        color grey-05

        &:hover
            background-color grey-02
            color grey-08

    &.transparent-blue
        background transparent
        color blue

        &:hover
            background-color blue
            color white

    &.outline-blue
        background transparent
        border 1px solid blue + 50%
        color blue

        &:hover
            background-color blue
            border-color blue
            color white

    &.outline-darkgrey
        background-color transparent
        border 1px solid grey-06
        color grey-04

        &:hover
            background-color grey-05
            border-color grey-05
            color grey-08

    &.small
        padding (4/14)em (8/14)em
        font-size (14/16)em

    .fa
        margin-right (6/16)em

.btn-group
    .btn
    button
    [role=button]
        display inline-block
        margin-right (2/16)em


.back-button
    text-transform uppercase
    padding 0 0.5em
    color grey-05
    line-height 36px

    transition color 0.2s ease

    &:hover
        color grey-02

    span
        margin-left 0.5em
        vertical-align top
        font-size 0.85em


button.btn
    display inline-block
    vertical-align middle
    text-align center

    .spinholder
        margin auto
        width 100%
        height 100%
        max-width 100%
        max-height 100%

        img
            display block
            width 100%
            height 100%
            max-width 100%
            max-height 100%
