/*!
 * PALETTE / COLORS
 * ================
 *
 * This file contains colors declarations and tools.
 */

// defaults
black = #000
white = #fff

// 50 (well, in fact, mostly 8) shades of grey
grey-01 = #EAEEF2
grey-02 = #DDE6EF
grey-03 = #C8D5DF
grey-04 = #ACB8C5
grey-05 = #92A0B2
grey-06 = #748192
grey-07 = #4F5B69
grey-08 = #32363F

// more of cozy UI
blue  = #33A6FF
red   = #FF3713
green = #16D943

pink    = #FC4C83
gold    = #FFC644
turquoise = #4DCEC5
tomato-dry = #FD7461
joker = #A75BCB


// brands color
twitter = #55ACEE


body
    background-color white
    color            grey-08
