input
select
textarea
    padding 10px

    background white
    border 0
    border-bottom 1px solid grey-04
    box-shadow 0 0 0 0

    transition all 0.2s

    &:hover
        border-left 3px solid blue
        border-bottom 1px solid blue

    &:focus
        border-left 3px solid blue
        border-bottom 1px solid blue
        box-shadow 0 0 0 0

input
select
    height 60px
    width 550px

    color blue
    font-size 30px
    line-height 30px
    text-align center


input[type=checkbox]
    margin-top 8px
    width 15px
    height 15px
