input
select
textarea
    padding 0 (12/18)em

    background white
    border 0
    border 1px solid grey-04
    box-shadow 0 0 0 0
    border-radius 3px

    transition all 0.2s

    &:hover
        border-color blue

    &:focus
        border-color blue
        box-shadow 0 0 0 0

input
select
    height 48px

    color grey-08
    font-size (18/16)em
    line-height 1em

.fied-with-btn
    display         flex
    justify-content flex-end
    align-items     stretch

    input
        border-radius 3px 0 0 3px
        border-right none

    .btn
        border-radius 0 3px 3px 0

input[type=checkbox]
    margin-top 8px
    width 15px
    height 15px
