.w350
    max-width 350px

.w500
    max-width 500px

.w600
    max-width 600px
    margin auto

.w800
    max-width 800px
    margin auto

.ma2
    margin 20px


.pa2
    padding 20px

.par2
    padding-right 20px

.mt6
    margin-top 60px
